<div class="p-grid p-nogutter">
  <div class="p-col-6">
    <div class="p-grid p-nogutter">
      <div class="p-col-3">
        <label>מ-</label>
      </div>
      <div class="p-col-9">
        <input id="range-from" type="text" dir="ltr" style="width: 60px; text-align: center;" [ngStyle]="isNegativeValue(decimalFrom)? {'color': 'red'} : ''" [(ngModel)]="decimalFrom" pInputText
          [disabled]="disableFrom" (change)="onChangeFrom();checkRange()">
      </div>
    </div>
  </div>
  <div class="p-col-6">
    <div class="p-grid p-nogutter">
      <div class="p-col-3">
        <label>עד-</label>
      </div>
      <div class="p-col-8">
        <input id="range-to" type="text" dir="ltr" style="width: 60px; text-align: center;" [ngStyle]="isNegativeValue(decimalTo)? {'color': 'red'} : ''" [(ngModel)]="decimalTo" pInputText
          [disabled]="disableTo" (change)="onChangeTo();checkRange()">
      </div>
      <div class="p-col-1" *ngIf="showInlineError">
        <input id="err" #optarget style="display:none"> <!-- location issue: do not remove this -->
        <p-overlayPanel #op2 [showCloseIcon]="false" [dismissable]="true">
          {{errorMessage}}
        </p-overlayPanel>
        <i *ngIf="!hasError" class="pi pi-check" style="color: green"></i>
        <i *ngIf="hasError" class="pi pi-times" style="color: orangered" (mouseenter)="op2.show($event,optarget)"
          (mouseleave)="op2.hide()"></i>
      </div>
    </div>
  </div>
</div>