.star-item {
    color:  #ffc107;
}
.table-bet-tips{
    font-size: 0.65em !important;
}
.rating-item{
    font-size: 0.6em !important;
    width: 120px;
}
.bet-description-item-collapse-hide {
    display: none;
}
.table > tbody> tr > td {
    padding: 0.5rem 0.8rem;
}
.bet-description-item-collapser{
    width: 20px;
}
.bet-description-more-link {
  background: none !important;
  border: none;
  padding: 1 !important;
  cursor: pointer !important;
  font-size: 1.3em !important;
  /* width: 10em; */
  /* text-decoration:underline; */
}
.bet-description-show-details-spinner{
    width: 1rem !important;
    height: 1rem !important;
}
