.league-image {
  height: 13px;
  width: 22px;
  padding-left: 5px;
}
.game-date-fixed-size {
  width: 50px;
}
.league-flag-fixed-size {
  width: 10px;
}
.flag-location {
  padding-top: 5px;
}
.wdl-fixed-size {
  width: 20px;
}
.mark-wdl-w {
  color: black !important;
  background-color: #00ff55 !important;
  /* color : #00ff55; */
  font-weight: bold;
}
.mark-wdl-d {
  color: black !important;
  background-color: #f8e749 !important;
  /* color : #00ff55; */
  font-weight: bold;
}
.mark-wdl-d-special {
  color: black !important;
  background-color: #f5b53e !important;
  /* color : #00ff55; */
  font-weight: bold;
}
.mark-wdl-l {
  color: black !important;
  background-color: #f7704f !important;
  /* color : #00ff55; */
  font-weight: bold;
}
.mark-odd-w {
  color: #00ff55;
  font-weight: bold;
}
.mark-odd-d {
  color: #f8e749;
  font-weight: bold;
}
.mark-odd-d-special {
  color: #f5b53e;
  font-weight: bold;
}
.mark-odd-l {
  color: #f7704f;
  font-weight: bold;
}
.table-matches-summary {
  font-size: 0.7rem !important;
  margin-bottom: unset !important;
}
.table-matches-summary td {
  padding: unset !important;
}
.show-more-matches {
  padding-top: 5px;
  font-size: 80%;
}
.show-more-link {
  background: none !important;
  border: none;
  padding: 0 !important;
  cursor: pointer;
  /* text-decoration:underline; */
}
.no-matches-found {
  font-size: 80%;
}
.indexes-fixed-size {
  width: 40px;
}
.over-tip-result {
  color: black !important;
  background-color: #00ff55 !important;
  font-weight: bold;
}
.under-tip-result {
  color: black !important;
  background-color: #f7704f !important;
  font-weight: bold;
}
.range0-1-tip-result{
  color: black !important;
  background-color: #eeeae8c2 !important;
  font-weight: bold;
}
.range2-3-tip-result{
  color: black !important;
  background-color: #ecf572b7 !important;
  font-weight: bold;
}
.range4-plus-tip-result{
  color: black !important;
  background-color: #8ab4f3 !important;
  font-weight: bold;
}
.yes-tip-result{
  color: black !important;
  background-color: #00ff55 !important;
  font-weight: bold;
}
.no-tip-result{
  color: black !important;
  background-color: #f7704f !important;
  font-weight: bold;
}