<div class="p-grid">
  <div class="p-col-12" style="margin-top: 1em; margin-bottom: 1em">
    <p-checkbox [(ngModel)]="cleanOnDiff" binary="true" (onChange)="setDirty()"></p-checkbox>
    &nbsp;<strong>נפילה אחת</strong>
  </div>
</div>
<div class="p-grid p-justify-around">
  <div class="p-col-5">
    <p-panel>
      <p-header>
        <strong>כמה פעמים יופיע 1X2</strong>
      </p-header>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>1</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_amount1'" [min]="defaultMin" [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
      </div>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>X</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_amountx'" [min]="defaultMin" [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
      </div>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>2</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_amount2'" [min]="defaultMin" [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
      </div>
    </p-panel>
  </div>
  <div class="p-col-5">
    <p-panel>
      <p-header>
        <strong>כמה פעמים יופיע ABC</strong>
      </p-header>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>A</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_amountA'" [min]="defaultMin" [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
      </div>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>B</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_amountB'" [min]="defaultMin" [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
      </div>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>C</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_amountC'" [min]="defaultMin" [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
      </div>
    </p-panel>
  </div>
</div>
<div class="p-grid p-justify-around">
  <div class="p-col-5">
    <p-panel>
      <p-header>
        <strong>כמה רצף 1X2</strong>
      </p-header>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>1</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_sequence1'" [min]="defaultMin" [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
      </div>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>X</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_sequencex'" [min]="defaultMin" [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
      </div>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>2</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_sequence2'" [min]="defaultMin" [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
      </div>
    </p-panel>
  </div>
  <div class="p-col-5">
    <p-panel>
      <p-header>
        <strong>כמה רצף ABC</strong>
      </p-header>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>A</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_sequenceA'" [min]="defaultMin" [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
      </div>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>B</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_sequenceB'" [min]="defaultMin" [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
      </div>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>C</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_sequenceC'" [min]="defaultMin" [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
      </div>
    </p-panel>
  </div>
</div>
<div class="p-grid p-justify-around">
  <div class="p-col-5">
    <p-panel>
      <p-header>
        <strong>כמה שבירות 1X2</strong>
      </p-header>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>&nbsp;</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_break1X2'" [min]="defaultMin" [max]="defaultMax-1" (isDirty)="setDirty()"></wn-minmax>
      </div>
    </p-panel>
  </div>
  <div class="p-col-5">
    <p-panel>
      <p-header>
        <strong>כמה שבירות ABC</strong>
      </p-header>
      <div class="p-grid">
        <div class="p-col-2">
          <label><strong>&nbsp;</strong></label>
        </div>
        <wn-minmax class="p-col-10" [id]="'minmax_include_breakABC'" [min]="defaultMin" [max]="defaultMax-1" (isDirty)="setDirty()"></wn-minmax>
      </div>
    </p-panel>
  </div>
</div>