#hr-t{
    padding: unset;
    margin: 0px 0px 4px 0px;
}
#hr-b{
    margin: unset;
    /* margin: 8px 0px; */
}
.match-bar-data-title{
  font-size: 14px;
  color: white;
  padding: 2px 4px;
}
.match-bar-active-data-title {
  color: #ffc107 !important;
}
.match-bar-menu-item
{
  height: 2px;
}
.match-bar-active-menu-item {
  background-color: #ffc107 !important;
}
.scroll-div{
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    height: 45px;
}