#hr-digest{
    padding: unset;
    margin: unset;
    height: 3px;
}
.chart-show-details-spinner{
    width: 1rem !important;
    height: 1rem !important;
}
.chart-container{
    border: 1px solid #ffc107;
    margin-left: 5px;
    margin-right: 5px;
}