<div *ngIf="templates$ | async as templatesState; else loading">
    <div *ngIf="templatesState.templates">
        <div class="p-grid p-no-gutter" style="margin-top: 1em">
            <div class="p-col-2">
                <p-dropdown id="dropdown" [options]="programsType" [(ngModel)]="selectedProgramType" optionLabel="label"
                    [showClear]="false" Style="margin-left: 5px">
                </p-dropdown>
            </div>
            <div class="p-col-4">
                <span class="ui-float-label">
                    <input id="float-input1" type="text" [(ngModel)]="templateValue" size="28"
                        style="min-width: 30px; height: 28px; padding: unset;" pInputText>
                    <label for="float-input1">ערך</label>
                </span>
            </div>
            <div class="p-col-5">
                <span class="ui-float-label">
                    <input id="float-input2" type="text" [(ngModel)]="templateName" size="30"
                        style="height: 28px; padding: unset;" pInputText>
                    <label for="float-input2">שם</label>
                </span>
            </div>
            <div class="p-col-1">
                <button pButton icon="pi pi-plus" (click)="addTemplate()" [disabled]="!templateValue"></button>
            </div>
        </div>
        <hr />
        <templates-details [collection]="templatesState.templates"></templates-details>
    </div>
    <hr *ngIf="templatesState.error != null"/>
    <p *ngIf="templatesState.error != null">
        <p-message severity="error" text="{{templatesState.error}}"></p-message>
        <button pButton (click)="reload()" label="טען מחדש"></button>
    </p>
</div>
<ng-template #loading>
    <!-- does not seems to reach this code when tested-->
    <div>Loading templates...</div>
</ng-template>
