:host ::ng-deep #dropdown .ui-inputtext{
    padding-top: 0.25em;
    padding-bottom: 0.25em;
} 
:host ::ng-deep .ui-dropdown {
    min-width: 100px;
}
:host ::ng-deep .ui-float-label>label {
    right: 1em;
}
:host ::ng-deep .ui-table .ui-table-tbody > tr > td {
    padding: unset;
}