.logo {
  height: 30px;
  width: fit-content;
}
.header {
  border-bottom: 1px solid #3d3838;  
}
.subtitle {
  /* font-style: italic; */
  font-size: large;
  font-weight: bolder;
  /* color: coral; */
  padding-left: 2px !important;
}