:host ::ng-deep .table-class > .ui-table table {
    text-align: center;
}
/* :host ::ng-deep .ui-table-scrollable-header-box {
    margin-left: 17px;
    margin-right: 0px !important;
}  */
:host ::ng-deep .ui-table-scrollable-header-box {
    margin-left: 0px;
    margin-right: 17px !important;
} 
:host ::ng-deep .ui-table .ui-table-tbody > tr > td{
    padding: unset;
}
:host ::ng-deep .relations-data-class > .ui-table table {
    width: 98%;
}
:host ::ng-deep .relations-data-class > .ui-table .ui-table-thead > tr > th {
    padding: unset;
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th.header-three-line-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.header-three-line-class,
:host ::ng-deep .ui-table .ui-table-thead > tr > th.header-two-line-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.header-two-line-class {
    width: 1.5em; 
    padding-right: 0.2em;
    padding-left: 0.2em;
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th.header-one-line-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.header-one-line-class {
    width: 4em; 
    padding-right: 0.3em;
    padding-left: 0.3em;
}
/* :host ::ng-deep .ui-table .ui-table-thead > tr > th.header-two-line-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.header-two-line-class {
    width: 1.5em; 
    padding-right: 0.2em;
    padding-left: 0.2em;
} */
:host ::ng-deep .ui-table .ui-table-thead > tr > th.index-header-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.index-header-class {
    width: 4em; 
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th.date-header-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.date-header-class {
    width: 8em; 
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th.round-header-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.round-header-class {
    width: 6em; 
}
/* :host ::ng-deep .ui-table .ui-table-tbody > tr > td.relation-data-class, 
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.relation-data-positive-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.relation-data-negative-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.relation-data-finalresult-class {
    text-align: center;
}*/
:host ::ng-deep .ui-table .ui-table-thead > tr > th.relation-data-delta-class,
:host ::ng-deep .ui-table .ui-table-thead > tr > th.relation-data-positive-class,
:host ::ng-deep .ui-table .ui-table-thead > tr > th.relation-data-negative-class{
    width: 4.4em; 
    padding: 0em 0.2em;
}
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.relation-data-positive-class {
    color: limegreen;
    width: 4.4em; 
}
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.relation-data-negative-class {
    color: red;
    width: 4.4em; 
}
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.relation-data-finalresult-class {
    font-weight: bolder;
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th.data-min-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.data-min-class {
    width: 5em; 
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th.data-middle-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.data-middle-class {
    width: 4.1em; 
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th.data-max-class{
    padding: 0em 0.68em;
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th.data-max-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.data-max-class {
    width: 5.6em; 
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th.data-home-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.data-home-class,
:host ::ng-deep .ui-table .ui-table-thead > tr > th.data-draft-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.data-draft-class {
    width: 4em; 
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th.data-away-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.data-away-class {
    width: 4.2em; 
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th.data-sum-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.data-sum-class {
    width: 5.4em; 
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th.data-final-class,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td.data-final-class {
    width: 4.5em; 
}
