<div>
    <program-selector [initializer]="false" [showProgramsDp]="false" [showYearsDp]="true" (onChangeSelection)="onChangeSelection()">
    </program-selector>
</div>
<hr>
<div>
    <p-tabView>
        <p-tabPanel header="1X2" [selected]="true">
            <div style="width: 500px;">
                <p-table [value]="data.amount1X2" [scrollable]="true" scrollHeight="330px"
                    *ngIf="data && data.amount1X2.length > 0" dir="ltr" class="table-class">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-one-line-class">2</th>
                            <th class="header-one-line-class">X</th>
                            <th class="header-one-line-class">1</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amount1 != null?{}:{'color':'red'}">
                            <td class="header-one-line-class">{{item.amount3}}</td>
                            <td class="header-one-line-class">{{item.amount2}}</td>
                            <td class="header-one-line-class">{{item.amount1}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="רצף 1X2">
            <div style="width: 500px;">
                <p-table [value]="data.sequenceLength1X2" [scrollable]="true" scrollHeight="330px"
                    *ngIf="data && data.sequenceLength1X2.length > 0" dir="ltr" class="table-class">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-one-line-class">2</th>
                            <th class="header-one-line-class">X</th>
                            <th class="header-one-line-class">1</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amount1 != null?{}:{'color':'red'}">
                            <td class="header-one-line-class">{{item.amount3}}</td>
                            <td class="header-one-line-class">{{item.amount2}}</td>
                            <td class="header-one-line-class">{{item.amount1}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="שבירות 1X2">
            <div style="width: 400px;">
                <p-table [value]="data.breaks1X2" [scrollable]="true" scrollHeight="330px"
                    *ngIf="data && data.breaks1X2.length > 0" dir="ltr" class="table-class">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-one-line-class">שבירות 1X2</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amount != null?{}:{'color':'red'}">
                            <td class="header-one-line-class">{{item.amount}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="צורות זוגות 1X2">
            <div style="width: 500px;">
                <p-table [value]="data.shapes2Data1X2" [scrollable]="true" scrollHeight="330px" dir="ltr"
                    class="table-class" *ngIf="data && data.shapes2Data1X2.length > 0">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-two-line-class">2 2</th>
                            <th class="header-two-line-class">2 X</th>
                            <th class="header-two-line-class">2 1</th>
                            <th class="header-two-line-class">X 2</th>
                            <th class="header-two-line-class">X X</th>
                            <th class="header-two-line-class">X 1</th>
                            <th class="header-two-line-class">1 2</th>
                            <th class="header-two-line-class">1 X</th>
                            <th class="header-two-line-class">1 1</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amount11 != null?{}:{'color':'red'}">
                            <td class="header-two-line-class">{{item.amount22}}</td>
                            <td class="header-two-line-class">{{item.amount2X}}</td>
                            <td class="header-two-line-class">{{item.amount21}}</td>
                            <td class="header-two-line-class">{{item.amountX2}}</td>
                            <td class="header-two-line-class">{{item.amountXX}}</td>
                            <td class="header-two-line-class">{{item.amountX1}}</td>
                            <td class="header-two-line-class">{{item.amount12}}</td>
                            <td class="header-two-line-class">{{item.amount1X}}</td>
                            <td class="header-two-line-class">{{item.amount11}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="צורות שלשה 1X2">
            <div style="width: 900px;">
                <p-table [value]="data.shapes3Data1X2" [scrollable]="true" scrollHeight="330px" dir="ltr"
                    class="table-class" *ngIf="data && data.shapes3Data1X2.length > 0">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-three-line-class">2 2 2</th>
                            <th class="header-three-line-class">2 2 X</th>
                            <th class="header-three-line-class">2 2 1</th>
                            <th class="header-three-line-class">2 X 2</th>
                            <th class="header-three-line-class">2 X X</th>
                            <th class="header-three-line-class">2 X 1</th>
                            <th class="header-three-line-class">2 1 2</th>
                            <th class="header-three-line-class">2 1 X</th>
                            <th class="header-three-line-class">2 1 1</th>
                            <th class="header-three-line-class">X 2 2</th>
                            <th class="header-three-line-class">X 2 X</th>
                            <th class="header-three-line-class">X 2 1</th>
                            <th class="header-three-line-class">X X 2</th>
                            <th class="header-three-line-class">X X X</th>
                            <th class="header-three-line-class">X X 1</th>
                            <th class="header-three-line-class">X 1 2</th>
                            <th class="header-three-line-class">X 1 X</th>
                            <th class="header-three-line-class">X 1 1</th>
                            <th class="header-three-line-class">1 2 2</th>
                            <th class="header-three-line-class">1 2 X</th>
                            <th class="header-three-line-class">1 2 1</th>
                            <th class="header-three-line-class">1 X 2</th>
                            <th class="header-three-line-class">1 X X</th>
                            <th class="header-three-line-class">1 X 1</th>
                            <th class="header-three-line-class">1 1 2</th>
                            <th class="header-three-line-class">1 1 X</th>
                            <th class="header-three-line-class">1 1 1</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amount1.amount11 != null?{}:{'color':'red'}">
                            <td class="header-three-line-class">{{item.amount2.amount22}}</td>
                            <td class="header-three-line-class">{{item.amount2.amount2X}}</td>
                            <td class="header-three-line-class">{{item.amount2.amount21}}</td>
                            <td class="header-three-line-class">{{item.amount2.amountX2}}</td>
                            <td class="header-three-line-class">{{item.amount2.amountXX}}</td>
                            <td class="header-three-line-class">{{item.amount2.amountX1}}</td>
                            <td class="header-three-line-class">{{item.amount2.amount12}}</td>
                            <td class="header-three-line-class">{{item.amount2.amount1X}}</td>
                            <td class="header-three-line-class">{{item.amount2.amount11}}</td>
                            <td class="header-three-line-class">{{item.amountX.amount22}}</td>
                            <td class="header-three-line-class">{{item.amountX.amount2X}}</td>
                            <td class="header-three-line-class">{{item.amountX.amount21}}</td>
                            <td class="header-three-line-class">{{item.amountX.amountX2}}</td>
                            <td class="header-three-line-class">{{item.amountX.amountXX}}</td>
                            <td class="header-three-line-class">{{item.amountX.amountX1}}</td>
                            <td class="header-three-line-class">{{item.amountX.amount12}}</td>
                            <td class="header-three-line-class">{{item.amountX.amount1X}}</td>
                            <td class="header-three-line-class">{{item.amountX.amount11}}</td>
                            <td class="header-three-line-class">{{item.amount1.amount22}}</td>
                            <td class="header-three-line-class">{{item.amount1.amount2X}}</td>
                            <td class="header-three-line-class">{{item.amount1.amount21}}</td>
                            <td class="header-three-line-class">{{item.amount1.amountX2}}</td>
                            <td class="header-three-line-class">{{item.amount1.amountXX}}</td>
                            <td class="header-three-line-class">{{item.amount1.amountX1}}</td>
                            <td class="header-three-line-class">{{item.amount1.amount12}}</td>
                            <td class="header-three-line-class">{{item.amount1.amount1X}}</td>
                            <td class="header-three-line-class">{{item.amount1.amount11}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="סיכום זוגות 1X2">
            <div style="width: 50%;">
                <p-table [value]="data.shapesGroups2Data1X2" [scrollable]="true" scrollHeight="330px"
                    *ngIf="data && data.shapesGroups2Data1X2.length > 0" dir="ltr" class="table-class">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-one-line-class">3+</th>
                            <th class="header-one-line-class">2</th>
                            <th class="header-one-line-class">1</th>
                            <th class="header-one-line-class">0</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amount0 != null?{}:{'color':'red'}">
                            <td class="header-one-line-class">{{item.amount3Plus}}</td>
                            <td class="header-one-line-class">{{item.amount2}}</td>
                            <td class="header-one-line-class">{{item.amount1}}</td>
                            <td class="header-one-line-class">{{item.amount0}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="סיכום שלשה 1X2">
            <div style="width: 50%;">
                <p-table [value]="data.shapesGroups3Data1X2" [scrollable]="true" scrollHeight="330px"
                    *ngIf="data && data.shapesGroups3Data1X2.length > 0" dir="ltr" class="table-class">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-one-line-class">3+</th>
                            <th class="header-one-line-class">2</th>
                            <th class="header-one-line-class">1</th>
                            <th class="header-one-line-class">0</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amount0 != null?{}:{'color':'red'}">
                            <td class="header-one-line-class">{{item.amount3Plus}}</td>
                            <td class="header-one-line-class">{{item.amount2}}</td>
                            <td class="header-one-line-class">{{item.amount1}}</td>
                            <td class="header-one-line-class">{{item.amount0}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="ABC">
            <div style="width: 40%;">
                <p-table [value]="data.amountABC" [scrollable]="true" scrollHeight="330px"
                    *ngIf="data && data.amountABC.length > 0" dir="ltr" class="table-class">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-one-line-class">C</th>
                            <th class="header-one-line-class">B</th>
                            <th class="header-one-line-class">A</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amount1 != null?{}:{'color':'red'}">
                            <td class="header-one-line-class">{{item.amount3}}</td>
                            <td class="header-one-line-class">{{item.amount2}}</td>
                            <td class="header-one-line-class">{{item.amount1}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="רצף ABC">
            <div style="width: 40%;">
                <p-table [value]="data.sequenceLengthABC" [scrollable]="true" scrollHeight="330px"
                    *ngIf="data && data.sequenceLengthABC.length > 0" dir="ltr" class="table-class">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-one-line-class">C</th>
                            <th class="header-one-line-class">B</th>
                            <th class="header-one-line-class">A</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amount1 != null?{}:{'color':'red'}">
                            <td class="header-one-line-class">{{item.amount3}}</td>
                            <td class="header-one-line-class">{{item.amount2}}</td>
                            <td class="header-one-line-class">{{item.amount1}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="שבירות ABC">
            <div style="width: 400px;">
                <p-table [value]="data.breaksABC" [scrollable]="true" scrollHeight="330px"
                    *ngIf="data && data.breaksABC.length > 0" dir="ltr" class="table-class">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-one-line-class">שבירות ABC</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amount != null?{}:{'color':'red'}">
                            <td class="header-one-line-class">{{item.amount}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="צורות זוגות ABC">
            <div style="width: 600px;">
                <p-table [value]="data.shapes2DataABC" [scrollable]="true" scrollHeight="330px" dir="ltr"
                    class="table-class" *ngIf="data && data.shapes2DataABC.length > 0">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-two-line-class">C C</th>
                            <th class="header-two-line-class">C B</th>
                            <th class="header-two-line-class">C A</th>
                            <th class="header-two-line-class">B C</th>
                            <th class="header-two-line-class">B B</th>
                            <th class="header-two-line-class">B A</th>
                            <th class="header-two-line-class">A C</th>
                            <th class="header-two-line-class">A B</th>
                            <th class="header-two-line-class">A A</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amountAA != null?{}:{'color':'red'}">
                            <td class="header-two-line-class">{{item.amountCC}}</td>
                            <td class="header-two-line-class">{{item.amountCB}}</td>
                            <td class="header-two-line-class">{{item.amountCA}}</td>
                            <td class="header-two-line-class">{{item.amountBC}}</td>
                            <td class="header-two-line-class">{{item.amountBB}}</td>
                            <td class="header-two-line-class">{{item.amountBA}}</td>
                            <td class="header-two-line-class">{{item.amountAC}}</td>
                            <td class="header-two-line-class">{{item.amountAB}}</td>
                            <td class="header-two-line-class">{{item.amountAA}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="צורות שלשה ABC">
            <div style="width: 900px;">
                <p-table [value]="data.shapes3DataABC" [scrollable]="true" scrollHeight="330px" dir="ltr"
                    class="table-class" *ngIf="data && data.shapes3DataABC.length > 0">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-three-line-class">C C C</th>
                            <th class="header-three-line-class">C C B</th>
                            <th class="header-three-line-class">C C A</th>
                            <th class="header-three-line-class">C B C</th>
                            <th class="header-three-line-class">C B B</th>
                            <th class="header-three-line-class">C B A</th>
                            <th class="header-three-line-class">C A C</th>
                            <th class="header-three-line-class">C A B</th>
                            <th class="header-three-line-class">C A A</th>
                            <th class="header-three-line-class">B C C</th>
                            <th class="header-three-line-class">B C B</th>
                            <th class="header-three-line-class">B C A</th>
                            <th class="header-three-line-class">B B C</th>
                            <th class="header-three-line-class">B B B</th>
                            <th class="header-three-line-class">B B A</th>
                            <th class="header-three-line-class">B A C</th>
                            <th class="header-three-line-class">B A B</th>
                            <th class="header-three-line-class">B A A</th>
                            <th class="header-three-line-class">A C C</th>
                            <th class="header-three-line-class">A C B</th>
                            <th class="header-three-line-class">A C A</th>
                            <th class="header-three-line-class">A B C</th>
                            <th class="header-three-line-class">A B B</th>
                            <th class="header-three-line-class">A B A</th>
                            <th class="header-three-line-class">A A C</th>
                            <th class="header-three-line-class">A A B</th>
                            <th class="header-three-line-class">A A A</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amountA.amountAA != null?{}:{'color':'red'}">
                            <td class="header-three-line-class">{{item.amountC.amountCC}}</td>
                            <td class="header-three-line-class">{{item.amountC.amountCB}}</td>
                            <td class="header-three-line-class">{{item.amountC.amountCA}}</td>
                            <td class="header-three-line-class">{{item.amountC.amountBC}}</td>
                            <td class="header-three-line-class">{{item.amountC.amountBB}}</td>
                            <td class="header-three-line-class">{{item.amountC.amountBA}}</td>
                            <td class="header-three-line-class">{{item.amountC.amountAC}}</td>
                            <td class="header-three-line-class">{{item.amountC.amountAB}}</td>
                            <td class="header-three-line-class">{{item.amountC.amountAA}}</td>
                            <td class="header-three-line-class">{{item.amountB.amountCC}}</td>
                            <td class="header-three-line-class">{{item.amountB.amountCB}}</td>
                            <td class="header-three-line-class">{{item.amountB.amountCA}}</td>
                            <td class="header-three-line-class">{{item.amountB.amountBC}}</td>
                            <td class="header-three-line-class">{{item.amountB.amountBB}}</td>
                            <td class="header-three-line-class">{{item.amountB.amountBA}}</td>
                            <td class="header-three-line-class">{{item.amountB.amountAC}}</td>
                            <td class="header-three-line-class">{{item.amountB.amountAB}}</td>
                            <td class="header-three-line-class">{{item.amountB.amountAA}}</td>
                            <td class="header-three-line-class">{{item.amountA.amountCC}}</td>
                            <td class="header-three-line-class">{{item.amountA.amountCB}}</td>
                            <td class="header-three-line-class">{{item.amountA.amountCA}}</td>
                            <td class="header-three-line-class">{{item.amountA.amountBC}}</td>
                            <td class="header-three-line-class">{{item.amountA.amountBB}}</td>
                            <td class="header-three-line-class">{{item.amountA.amountBA}}</td>
                            <td class="header-three-line-class">{{item.amountA.amountAC}}</td>
                            <td class="header-three-line-class">{{item.amountA.amountAB}}</td>
                            <td class="header-three-line-class">{{item.amountA.amountAA}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="סיכום זוגות ABC">
            <div style="width: 50%;">
                <p-table [value]="data.shapesGroups2DataABC" [scrollable]="true" scrollHeight="330px"
                    *ngIf="data && data.shapesGroups2DataABC.length > 0" dir="ltr" class="table-class">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-one-line-class">3+</th>
                            <th class="header-one-line-class">2</th>
                            <th class="header-one-line-class">1</th>
                            <th class="header-one-line-class">0</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amount0 != null?{}:{'color':'red'}">
                            <td class="header-one-line-class">{{item.amount3Plus}}</td>
                            <td class="header-one-line-class">{{item.amount2}}</td>
                            <td class="header-one-line-class">{{item.amount1}}</td>
                            <td class="header-one-line-class">{{item.amount0}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="סיכום שלשה ABC">
            <div style="width: 50%;">
                <p-table [value]="data.shapesGroups3DataABC" [scrollable]="true" scrollHeight="330px"
                    *ngIf="data && data.shapesGroups3DataABC.length > 0" dir="ltr" class="table-class">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="header-one-line-class">3+</th>
                            <th class="header-one-line-class">2</th>
                            <th class="header-one-line-class">1</th>
                            <th class="header-one-line-class">0</th>
                            <th class="round-header-class">מחזור</th>
                            <th class="date-header-class">תאריך</th>
                            <th class="index-header-class">מסד</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item let-ri="rowIndex">
                        <tr [ngStyle]="item.amount0 != null?{}:{'color':'red'}">
                            <td class="header-one-line-class">{{item.amount3Plus}}</td>
                            <td class="header-one-line-class">{{item.amount2}}</td>
                            <td class="header-one-line-class">{{item.amount1}}</td>
                            <td class="header-one-line-class">{{item.amount0}}</td>
                            <td class="round-header-class">{{item.roundId}}</td>
                            <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                            <td class="index-header-class">{{ri +1 }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel>
        <p-tabPanel header="יחסים">
            <p-table [value]="data.relationsData" [scrollable]="true" scrollHeight="330px" dir="ltr" class="table-class"
                *ngIf="data && data.relationsData.length > 0">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="relation-data-delta-class">מרחק מחוץ</th>
                        <th class="relation-data-delta-class">מרחק מתיקו</th>
                        <th class="relation-data-delta-class">מרחק מבית</th>
                        <th class="relation-data-delta-class">מרחק ממקסימום</th>
                        <th class="relation-data-delta-class">מרחק מאמצע</th>
                        <th class="relation-data-delta-class">מרחק ממינימום</th>
                        <th class="data-final-class">תוצאה סופית</th>
                        <th class="data-sum-class">סיכום</th>
                        <th class="data-away-class">חוץ</th>
                        <th class="data-draft-class">תיקו</th>
                        <th class="data-home-class">בית</th>
                        <th class="data-max-class">מקסימום</th>
                        <th class="data-middle-class">אמצע</th>
                        <th class="data-min-class">מינימום</th>
                        <th class="round-header-class">מחזור</th>
                        <th class="date-header-class">תאריך</th>
                        <th class="index-header-class">מסד</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-item let-ri="rowIndex">
                    <tr [ngStyle]="item.min != null?{}:{'color':'red'}">
                        <td dir="ltr" [ngClass]="getDecimalClass(item.deltaAway)">{{item.deltaAway}}</td>
                        <td dir="ltr" [ngClass]="getDecimalClass(item.deltaDraft)">{{item.deltaDraft}}</td>
                        <td dir="ltr" [ngClass]="getDecimalClass(item.deltaHome)">{{item.deltaHome}}</td>
                        <td dir="ltr" [ngClass]="getDecimalClass(item.deltaMax)">{{item.deltaMax}}</td>
                        <td dir="ltr" [ngClass]="getDecimalClass(item.deltaMiddle)">{{item.deltaMiddle}}</td>
                        <td dir="ltr" [ngClass]="getDecimalClass(item.deltaMin)">{{item.deltaMin}}</td>
                        <td dir="ltr" class="relation-data-finalresult-class data-final-class">{{item.finalResult}}</td>
                        <td dir="ltr" class="data-sum-class">{{item.sum}}</td>
                        <td dir="ltr" class="data-away-class">{{item.away}}</td>
                        <td dir="ltr" class="data-draft-class">{{item.draft}}</td>
                        <td dir="ltr" class="data-home-class">{{item.home}}</td>
                        <td dir="ltr" class="data-max-class">{{item.max}}</td>
                        <td dir="ltr" class="data-middle-class">{{item.middle}}</td>
                        <td dir="ltr" class="data-min-class">{{item.min}}</td>
                        <td class="round-header-class">{{item.roundId}}</td>
                        <td class="date-header-class">{{item.programEndDate | date:'dd/MM/y'}}</td>
                        <td class="index-header-class">{{ri +1 }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </p-tabPanel>
        <!-- <p-tabPanel header="כמה ABC בתוך 1X2">
            <div style="width: 90%">
                <p-table [value]="data.relationsData" [scrollable]="true" scrollHeight="330px"
                    *ngIf="data && data.relationsData.length > 0" dir="ltr" class="table-class">
                    <ng-template pTemplate="header">
                        <tr>
                            <th colspan="9">עמודה 1</th>
                            <th colspan="9">עמודה X</th>
                            <th colspan="9">עמודה 2</th>
                        </tr>
                        <tr>
                            <th colspan="3">A</th>
                            <th colspan="3">B</th>
                            <th colspan="3">C</th>
                            <th colspan="3">A</th>
                            <th colspan="3">B</th>
                            <th colspan="3">C</th>
                            <th colspan="3">A</th>
                            <th colspan="3">B</th>
                            <th colspan="3">C</th>
                        </tr>
                        <tr>
                            <th>היה</th>
                            <th>יצא</th>
                            <th>%</th>
                            <th>היה</th>
                            <th>יצא</th>
                            <th>%</th>
                            <th>היה</th>
                            <th>יצא</th>
                            <th>%</th>
                            <th>היה</th>
                            <th>יצא</th>
                            <th>%</th>
                            <th>היה</th>
                            <th>יצא</th>
                            <th>%</th>
                            <th>היה</th>
                            <th>יצא</th>
                            <th>%</th>
                            <th>היה</th>
                            <th>יצא</th>
                            <th>%</th>
                            <th>היה</th>
                            <th>יצא</th>
                            <th>%</th>
                            <th>היה</th>
                            <th>יצא</th>
                            <th>%</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-sale>
                        <tr>
                            <td>5</td>
                            <td>2</td>
                            <td>40%</td>
                            <td>6</td>
                            <td>3</td>
                            <td>50%</td>
                            <td>5</td>
                            <td>3</td>
                            <td>60%</td>
                            <td>5</td>
                            <td>2</td>
                            <td>40%</td>
                            <td>6</td>
                            <td>3</td>
                            <td>50%</td>
                            <td>5</td>
                            <td>3</td>
                            <td>60%</td>
                            <td>5</td>
                            <td>2</td>
                            <td>40%</td>
                            <td>6</td>
                            <td>3</td>
                            <td>50%</td>
                            <td>5</td>
                            <td>3</td>
                            <td>60%</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </p-tabPanel> -->
    </p-tabView>
</div>