:host ::ng-deep .ui-dialog .ui-dialog-content{
    width: 400px;
    padding: unset;
}
/* :host ::ng-deep .ui-dataview .ui-dataview-header{
    display: none;
} */
:host ::ng-deep  .wn-bt-rate-select-button .ui-button.ui-button-text-only .ui-button-text {
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-weight: bold;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-style:outset;
    font-size: small;
}
:host ::ng-deep  .wn-bt-basebet-selected.ui-button.ui-button-text-only .ui-button-text {
background: rgb(14, 187, 245);
}
:host ::ng-deep  .wn-bt-winbet-selected.ui-button.ui-button-text-only .ui-button-text {
    background: green;
}
:host ::ng-deep  .wn-nopadding {
padding: unset;
}
:host ::ng-deep  .wn-bt-rate-select-button .ui-state-disabled {
opacity: unset
}
