<form #form="ngForm">
    <div class="p-grid p-nogutter">
      <div class="p-col-6">
        <div class="p-grid p-nogutter">
          <div class="p-col-3">
            <label>מ-</label>
          </div>
          <div class="p-col-9">
            <input type="text" name="from" style="width: 60px" [(ngModel)]="decimalFrom" pInputText
              [pKeyFilter]="decimal2PointsRegex" [pValidateOnly]="true" [disabled] = "disabled">
          </div>
        </div>
      </div>
      <div class="p-col-6">
        <div class="p-grid p-nogutter">
          <div class="p-col-4">
            <label>עד-</label>
          </div>
          <div class="p-col-8">
            <input type="text" name="to" style="width: 60px" [(ngModel)]="decimalTo" pInputText [pKeyFilter]="decimal2PointsRegex"
              [pValidateOnly]="true" [disabled] = "disabled">
          </div>
        </div>
      </div>
    </div>
    <div class="p-grid p-nogutter p-justify-center">
      <div class="p-col-8">
        <p-message #msg severity="error" text="" [@errorState]="CheckState(form, msg) ? 'visible' : 'hidden'"></p-message>
      </div>
    </div>
  </form>