.scores-item {
  width: 4em;
}
.scores-container{
font-size: 70%;
}
.scores-nogoals {
  color: black !important;
  background-color: #f19845 !important;
  font-weight: bold;
}
.scores-goals1 {
  color: black !important;
  background-color: #e7f56c !important;
  font-weight: bold;
}
.scores-goals2 {
  color: black !important;
  background-color: #8ef1af !important;
  font-weight: bold;
}
.scores-goals3 {
  color: black !important;
  background-color: #00ff55 !important;
  font-weight: bold;
}
.scores-goals4plus {
  color: black !important;
  background-color: #3763df !important;
  font-weight: bold;
}