:host ::ng-deep .wn-systems-select .ui-button.ui-button-text-only .ui-button-text {
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-weight: bold;
    padding-top: 0.001em;
    padding-bottom: 0.001em;
    border-style:groove;
    border-width: 0.1em;
    font-size: small;
}
:host ::ng-deep .ui-button.ui-button-icon-only .ui-button-text,
.ui-button-icon-only .ui-button-text, .ui-button-text-empty .ui-button-text {
padding: unset;
}
:host ::ng-deep .ui-messages{
    padding: unset;
    margin: unset;
    height: 23px;
    font-size: small;
}
:host ::ng-deep .ui-messages.ui-messages-success .ui-messages-close,
:host ::ng-deep .ui-messages.ui-messages-error .ui-messages-close,
:host ::ng-deep .ui-messages.ui-messages-info .ui-messages-close{
    position: unset;
    float: left;
}
:host ::ng-deep .ui-messages.ui-messages-success .ui-messages-icon,
:host ::ng-deep .ui-messages.ui-messages-error .ui-messages-icon,
:host ::ng-deep .ui-messages.ui-messages-info .ui-messages-icon{
    display: none;
}
:host ::ng-deep .ui-messages ul>li{
    padding: unset;
}
