<div style="padding-bottom: 0.2em">
  <div class="p-grid p-no-gutter">
    <div class="p-col-4" style="height: 30px">
      <p-selectButton class="wn-systems-select" [options]="systems" [(ngModel)]="selectedSystem"
        (onOptionClick)="onSystemClick($event)"></p-selectButton>
    </div>
    <div class="p-col-2" style="height: 30px">
      <div class="p-grid p-no-gutter">
        <div class="p-col-12" *ngIf="selectedSystem.id === 1 || selectedSystem.id === 2">
            <button pButton type="button" (click)="visibleSidebarLeft = true" icon="pi pi-align-justify" style="background-color: cornflowerblue" *ngIf="isAdminUser"></button>
          <button pButton icon="pi pi-folder-open"
            [ngStyle]="selectedSystem.id === 2?{'background-color':'#d9e43e','float': 'left'}:{'background-color':'limegreen','float': 'left'}"
            (click)="onOpenSystem()"></button>
          <button pButton icon="pi pi-folder-open" style="float: left;background-color: limegreen"
            (click)="onOpenShrinkSystemForOptimization()" *ngIf="selectedSystem.id === 2"></button>
          <button pButton icon="pi pi-save" style="float: left;" (click)="onSaveSystem()"></button>
        </div>
      </div>
    </div>
    <div class="p-col-6" style="height: 30px">
      <div class="p-grid p-no-gutter">
        <div class="p-col-7">
          <p-messages [(value)]="msgs"></p-messages>
        </div>
        <div class="p-col-4" *ngIf="selectedSystem.id === 1">
          <div style="float: left; padding:unset; text-align: end" *ngIf="shrinkSystemName">
            <label><strong
                style="font-size: 0.7em; vertical-align: middle; padding-right: 0.5em; background-color: limegreen">
                {{shrinkSystemName.name}}
              </strong></label>
          </div>
        </div>
        <div class="p-col-4" *ngIf="selectedSystem.id === 2">
          <div style="float: left; padding:unset; text-align: end" *ngIf="shrinkSystemName">
            <label><strong
                style="font-size: 0.7em; vertical-align: middle; padding-right: 0.5em; background-color: limegreen">
                <span>צימצומים : </span>
                {{shrinkSystemName.name}}
              </strong></label>
          </div>
          <div style="float: left; padding:unset; text-align: end; height: 0.5em;" *ngIf="optimizerSystemName">
            <label><strong
                style="font-size: 0.7em; vertical-align: middle; padding-right: 0.5em; background-color: #d9e43e">
                <span>אופטימיזציה : </span>
                <span>{{optimizerSystemName.name}}</span>
              </strong></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <p-toast [style]="{marginTop: '1px'}" position="top-left" key="tl"></p-toast>
  <p-sidebar [(visible)]="visibleSidebarLeft" [style]="{width:'9em'}" [baseZIndex]="10000">
      <button pButton type="button" (click)="visibleSidebarLeft = false; openTemplateManagerDialog()" label="ניהול טמפלטים" class="ui-button-success" style="margin-top: 1em; margin-bottom: 1em"></button>
      <button pButton type="button" (click)="visibleSidebarLeft = false; openProgramSyncDialog()" label="סנכרון תוכניות" class="ui-button-success" style="margin-bottom: 1em"></button>
      <button pButton type="button" (click)="visibleSidebarLeft = false; openHistoricalDataDialog()" label="הצג מידע היסטורי" class="ui-button-success" style="margin-bottom: 1em"></button>
      <button pButton type="button" (click)="visibleSidebarLeft = false; openFormDispacherDialog()" label="שליחת טפסים" class="ui-button-success" style="margin-bottom: 1em"></button>
      <button pButton type="button" (click)="visibleSidebarLeft = false; openSmartDownloadDialog()" label="ניהול טפסים SMART" class="ui-button-success" style="margin-bottom: 1em"></button>      
      <button pButton type="button" (click)="visibleSidebarLeft = false; openRealtimeRatesScreenerDialog()" label="Rates Screener" class="ui-button-success" style="margin-bottom: 1em"></button>      
  </p-sidebar>
</div>
<p-confirmDialog icon="pi pi-exclamation-triangle" acceptLabel="כן" rejectLabel="לא">
</p-confirmDialog>
