.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-header {
  background-color: black;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sticky-footer {
  background-color: black;
  padding: 10px;
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.content-container {
  flex-grow: 1;
  overflow: auto;
}

.content {
  padding: 1px;
}
.sport-button {
  padding: 5px 0px 45px 0px;
  background-color: #332d2d;
  border-radius: 15px;
}
.dropdown-toggle:after {
  content: unset !important;
  margin-left: unset !important;
}
.top-totals {
  background-color: cornflowerblue;
  border-radius: 8px;
  /* margin: 4px 10px 0px 10px;
    padding-bottom: 5px; */
}
.inline-total {
  padding-top: 5px;
}
.accordion-borderless {
  /* --mdb-accordion-borderless-btn-bg: #dfe7f603 !important; */
  --mdb-accordion-borderless-btn-bg: cornflowerblue !important;
  --mdb-accordion-borderless-btn-color: white !important;
}
.accordion-button {
    color: white !important;
    border-radius: 15px !important;
    /* border: 1px solid !important; */
    font-size: 80% !important;
    height: 20px;

}
/* .accordion.accordion-borderless,
.accordion.accordion-flush {
  --mdb-accordion-bg: cornflowerblue !important;
} */
.accordion-button.collapsed{
background-color: cornflowerblue !important;
}
.accordion-body {
  font-size: 70%;
}
.bet-send-box{
  background-color: cornflowerblue;
    padding: 0px 0px 0px 5px;
    border-radius: 5px;
    line-height: 25px;
    margin-top: 2rem;
}