<p-dataView #dvopt id="games-opt-dv" [value]="optimizerData.bets.gamesData" [rows]="optimizerData.bets.gamesData.length"
  *ngIf="optimizerData && optimizerData.bets && optimizerData.bets.gamesData && optimizerData.bets.gamesData.length > 0">
  <p-header>
    <div class="p-grid p-no-gutter">
      <div class="p-col-9">
        <span><strong>{{optimizerData.programTitle}}</strong></span>
      </div>
      <div class="p-col-1">
        <span style="color: orangered"><strong>מקור</strong></span>
      </div>
      <div class="p-col-1">
        <span style="color: orangered"><strong>אחרי</strong></span>
      </div>
    </div>
  </p-header>
  <ng-template let-game pTemplate="listItem">
    <div class="p-grid" style="border-bottom: 1px solid #d9d9d9; margin-right: unset; margin-top:unset">
      <div class="p-col-1 wn-nopadding">
        <span>{{game.index}}.</span>
      </div>
      <div class="p-col-5 wn-nopadding" [pTooltip]="game.name" tooltipPosition="top">{{game.name}}</div>
      <div class="p-col-3 wn-nopadding">
        <p-selectButton class="wn-rate-select-button" [options]="game.ui_rates"></p-selectButton>
      </div>
      <div class="p-col-1" style="padding-top: 0.3em; padding-bottom: unset">
        <input type="text" size="1" pInputText disabled="true" placeholder="{{game.bet1X2String_original}}" style="text-align: center; font-weight: bolder; border-color: darkslategrey;" />
      </div>
      <div class="p-col-1" style="padding-top: 0.3em; padding-bottom: unset">
        <input *ngIf="game.calcProgress!='ValueChanged'" type="text" size="1" pInputText disabled="true" placeholder="{{game.bet1X2String_optimized}}"
          style="text-align: center; font-weight: bolder; border-color: darkslategrey;" />
        <input *ngIf="game.calcProgress=='ValueChanged'" type="text" size="1" pInputText disabled="true" placeholder="{{game.bet1X2String_optimized}}"
          style="text-align: center; font-weight: bolder; border-color: darkslategrey;animation: blinker 2s linear; background-color:aquamarine" />
      </div>
      <div class="p-col-1" style="padding-top: 0.3em; padding-bottom: unset">
        <!-- <i *ngIf="game.calcProgress=='started'">
          <p-progressSpinner [style]="{width: '10px', height: '10px'}" strokeWidth="8" animationDuration=".5s"></p-progressSpinner>
        </i> -->
        <div *ngIf="game.finalBet">
          <i class="pi pi-arrow-right" style="color: orange"></i>
        </div>
        <div *ngIf="game.calcProgress=='completed'"> <!-- NA for now -->
          <i class="pi pi-check" style="color: green"></i>
        </div>
        <div *ngIf="game.calcProgress=='canceled'"><!-- NA for now -->
          <i class="pi pi-times" style="color: orangered"></i>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataView>
<!-- <p-toast [style]="{marginTop: '1px'}" position="top-center" key="tc"></p-toast> -->