:host ::ng-deep .wn-nopadding {
    padding: unset;
}
:host ::ng-deep .ui-dataview .ui-dataview-header,
:host ::ng-deep .ui-dataview .ui-dataview-footer{
    padding: unset !important;
}
:host ::ng-deep .ui-dataview .ui-dataview-content {
    padding-right : 0em;
    padding-top: unset;
    padding-left: unset;
}
:host ::ng-deep .wn-rate-select-button .ui-button.ui-button-text-only .ui-button-text {
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-weight: bold;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-style:outset;
    font-size: small;
}
:host ::ng-deep .wn-rate-select-button .ui-state-disabled {
    opacity: unset
}
app-games-optimizer .changed-class{
    background-color: aqua;
}
app-games-optimizer .blink-class {
    animation: blinker 2s linear;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
