<div class="p-grid">
  <div class="p-col-6">
    <div class="p-grid">
      <div class="p-col-12">
        <games-optimizer-header #gopthdr [optimizerData]="optimizerData"></games-optimizer-header><!--(onOpenSystem)="openSystemsDialog($event)" (onSaveSystem)="saveSystemsDialog($event)"-->
        <p-progressBar mode="indeterminate" [style]="{'height': '3px'}" *ngIf="isGamesOptimizationInProgress()"></p-progressBar>
      </div>
      <div class="p-col-12">
        <app-games-optimizer #gopt [optimizerData]="optimizerData"></app-games-optimizer>
      </div>
    </div>
  </div>
  <div class="p-col-6">
    <div class="p-grid">
      <div class="p-col-12">
        <conditions-optimizer-header #copthdr (onStart)="startOptimizer($event)" (onStop)="stopOptimizer($event)" (onResultToExcel)="resultToExcel($event)"></conditions-optimizer-header>
        <p-progressBar mode="indeterminate" [style]="{'height': '3px'}" *ngIf="isConditionsOptimizationInProgress()"></p-progressBar>
      </div>
      <div class="p-col-12">
        <app-conditions-optimizer #copt [optimizerData]="optimizerData"></app-conditions-optimizer>
      </div>
    </div>
  </div>
</div>
<!-- <p-toast [style]="{marginTop: '1px'}" position="top-left" key="tl"></p-toast> -->
<!-- <p-confirmDialog header="התראת חישוב" icon="pi pi-exclamation-triangle" acceptLabel="כן" rejectLabel="לא"></p-confirmDialog> -->