<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="login-body">
  <div class="login-panel ui-fluid">
    <div class="p-grid" style="margin-left: unset; margin-right: unset">
      <div class="p-col-12 login-header">
        <h1>כניסה לחשבון</h1>
        <h2>ברוך הבא למערכת בנקרים</h2>
      </div>
      <div class="p-col-12">
        <div *ngIf="submitted && errorMessage" class="invalid-feedback">
          {{errorMessage}}
        </div>
        <label for="float-username">שם משתמש</label> <!-- once primeng bug will be fixed, move this line +2-->
        <span class="ui-float-label">
          <input id="float-username" pInputText type="text" formControlName="username" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
        </span>
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">אנא הכנס שם משתמש</div>
        </div>
      </div>
      <div class="p-col-12">
        <label for="float-password">סיסמה</label><!-- once primeng bug will be fixed, move this line +2-->
        <span class="ui-float-label">
          <input id="float-password" pInputText type="password" formControlName="password" autocomplete="off" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
        </span>
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">אנא הכנס סיסמה</div>
        </div>
      </div>
      <div class="p-col-12 button-container">
        <button pButton [disabled]="loading" type="submit" label="כניסה" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
        </button>
      </div>
    </div>
  </div>
</form>