:host ::ng-deep .login-body {
    font-family: Roboto,"Helvetica Neue",sans-serif;
    padding-top: 100px;
}
:host ::ng-deep .login-panel {
    background-color: #ffffff;
    width: 400px;
    margin: 0 auto;
    padding-bottom: 20px;
    -webkit-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19); 
}
:host ::ng-deep .login-panel .login-header {
    margin-bottom: 30px;
    background-color: #505050;
    color: #e4e5ee;
    position: relative; 
}
:host ::ng-deep .login-panel .login-header h1 {
    font-size: 25px;
    font-weight: 700; 
}
:host ::ng-deep .login-panel .login-header h2 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 0; 
    color: #e7551c;
}
:host ::ng-deep .login-panel .login-header.p-col-12 {
    padding: 20px 30px; 
}
:host ::ng-deep .login-panel .p-col-12 {
    padding: 20px 70px; 
}
:host ::ng-deep .ui-float-label>label {
    left: unset;
    right: .25em;
}
:host ::ng-deep .invalid-feedback{
    color: red;
    font-size:small;
}
:host ::ng-deep .ui-button {
    background-color: #505050;
    color: #e4e5ee;
}
:host ::ng-deep .ui-button:hover { /** WHY THIS IS NOT WORKING **/
    background-color: #e7551c;
}