<div class="ui-g">
  <div class="ui-g-6">
    <p-card>
      <h3>
        <div class="ui-g">
          <div class="ui-g-8">
            מספר בנקרים
          </div>
          <div class="ui-g-4">
            {{pricerData.bankersCounter}}
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-8">
            מספר כפולים
          </div>
          <div class="ui-g-4">
            {{pricerData.doublesCounter}}
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-8">
            מספר משולשים
          </div>
          <div class="ui-g-4">
            {{pricerData.trianglesCounter}}
          </div>
        </div>
      </h3>
    </p-card>
  </div>
  <div class="ui-g-6">
    <p-card>
      <h3>
        <div class="ui-g">
          <div class="ui-g-8">
            יחס מינימום
          </div>
          <div class="ui-g-4">
            {{pricerData.minRatesSum | number:'1.2-2'}}
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-8">
            ממוצע
          </div>
          <div class="ui-g-4">
            {{pricerData.averageRates | number:'1.2-2'}}
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-8">
            יחס מקסימום
          </div>
          <div class="ui-g-4">
            {{pricerData.maxRatesSum | number:'1.2-2'}}
          </div>
        </div>
      </h3>
    </p-card>
  </div>
  <div class="ui-g-6">
    <p-card>
      <h2>
        <div class="ui-g">
          <div class="ui-g-8" style="padding: unset">
            סה"כ טורים
          </div>
          <div class="ui-g-4" style="padding-top: unset; padding-bottom: unset">
            {{pricerData.betsCounter}}
          </div>
        </div>
      </h2>
    </p-card>
  </div>
  <div class="ui-g-6">
    <p-card>
      <h3>
        <div class="ui-g">
          <div class="ui-g-8" style="padding: unset">
            יחס מארחות
          </div>
          <div class="ui-g-4" style="padding-top: unset; padding-bottom: unset">
            {{pricerData.sumAllRates1 | number:'1.2-2'}}
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-8" style="padding: unset">
            יחס תיקו
          </div>
          <div class="ui-g-4" style="padding-top: unset; padding-bottom: unset">
            {{pricerData.sumAllRatesX | number:'1.2-2'}}
          </div>
        </div>
        <div class="ui-g">
          <div class="ui-g-8" style="padding: unset">
            יחס אורחות
          </div>
          <div class="ui-g-4" style="padding-top: unset; padding-bottom: unset">
            {{pricerData.sumAllRates2 | number:'1.2-2'}}
          </div>
        </div>
        <hr>
        <div class="ui-g">
            <div class="ui-g-8" style="padding: unset">
              סה"כ יחסים
            </div>
            <div class="ui-g-4" style="padding-top: unset; padding-bottom: unset">
              {{(pricerData.sumAllRates1 + pricerData.sumAllRatesX + pricerData.sumAllRates2) | number:'1.2-2'}}
            </div>
          </div>
        </h3>
      <h2>
        <div class="ui-g">
          <div class="ui-g-8" style="padding: unset">
            תוצאה סופית
          </div>
          <div class="ui-g-4" style="padding-top: unset; padding-bottom: unset" *ngIf="pricerData.finalResult">
            {{pricerData.finalResult | number:'1.2-2'}}
          </div>
          <div class="ui-g-4" style="padding-top: unset; padding-bottom: unset" *ngIf="!pricerData.finalResult">
            ----
          </div>
        </div>
      </h2>
    </p-card>
  </div>
</div>