#advanced-subset-dv .ui-tabview.ui-tabview-top .ui-tabview-nav li a, 
#advanced-subset-dv .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a, 
#advanced-subset-dv .ui-tabview.ui-tabview-left .ui-tabview-nav li a, 
#advanced-subset-dv .ui-tabview.ui-tabview-right .ui-tabview-nav li a {
display: unset;
}

/* app-advanced-subsets .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-state-active, 
app-advanced-subsets .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-state-active {
    background-color: red;
} */
