<p-tabView id="advanced-subset-dv">
    <p-tabPanel header="ראשי"  tooltip="הגדרות" [selected]="true"><!--[headerStyleClass]="wn-adv-exclude"-->
        <!--[headerStyle]="{'background-color': 'red'}" this one works-->
        <app-exclude (onErrorExclude)="onErrorExclude($event)" (isDirty)="setDirty()"></app-exclude>
    </p-tabPanel>
    <p-tabPanel header="טור 1X2" tooltip="הגדרות לצימצום מתקדם של מספר טורים 1X2">
        <app-pattern1x2 (isDirty)="setDirty()"></app-pattern1x2>
    </p-tabPanel>
    <p-tabPanel header="טור ABC" tooltip="הגדרות לצימצום מתקדם של מספר טורים ABC">
        <app-pattern-abc (isDirty)="setDirty()"></app-pattern-abc>
    </p-tabPanel>
</p-tabView>