<button pButton type="button" class="ui-button-success" label="טבלה נוספת&nbsp;+" (click)="addDefaultShapeTable()"></button>
<button pButton type="button" class="ui-button-success" label="צורה שכיחה&nbsp;+" (click)="addHiglyUsedShapeTables()"></button>
<div class="p-col" *ngFor="let shape of shapesTables; let i=index" [@animation]="'visible'">
  <div class="p-grid p-nogutter p-dir-col p-justify-center">
    <p-fieldset legend="צורה {{i+1}}" [toggleable]="true">
      <div class="p-col-12">
        <div class="p-grid p-nogutter p-justify-start">
          <div class="p-col-3 p-offset-1">
            <p-panel [ngClass]="tablePanelClass">
              <p-header>
                <div class="p-grid p-nogutter p-dir-col">
                  <div class="p-col">
                    <div class="p-grid p-nogutter">
                      <div class="p-col-6">
                        <strong>{{i+1}}</strong>
                      </div>
                      <div class="p-col-3">
                        <p-checkbox [(ngModel)]="shapesTables[i].selected" (onChange)="setDirty()" binary="true"></p-checkbox>
                      </div>
                      <div class="p-col-3">
                        <button pButton type="button" icon="pi pi-times" class="ui-button-danger ui-button-raised"
                          (click)="deleteShape($event, i)" [disabled]="shapesTables.length == 1"></button>
                      </div>
                      <div class="p-col-12">
                        <hr class="wn-shapes-pattern-hr">
                      </div>
                    </div>
                  </div>
                  <div class="p-col">
                    <div class="p-grid p-nogutter p-justify-center">
                      <div class="p-col-4">
                        <span>מ-</span>
                      </div>
                      <div class="p-col-4">
                        <span>עד-</span>
                      </div>
                    </div>
                  </div>
                </div>
              </p-header>
              <div *ngIf="useDropBoxMinMax">
                <wn-minmax [disabled]="!shape.selected" [min]="shape.fromMin" [max]="shape.toMax"
                  [alignVertical]="false" [hideLabels]="true" (isDirty)="setDirty()"></wn-minmax>
              </div>
              <div class="p-grid p-nogutter p-justify-around" *ngIf="!useDropBoxMinMax">
                <div class="p-col-5">
                  <p-spinner size="2" [(ngModel)]="shape.currentFrom" [min]="shape.fromMin" [max]="shape.toMax"
                    (onChange)="onChangeTableSpinner(i)"></p-spinner>
                </div>
                <div class="p-col-5">
                  <p-spinner size="2" [(ngModel)]="shape.currentTo" [min]="shape.fromMin" [max]="shape.toMax"
                    (onChange)="onChangeTableSpinner(i)"></p-spinner>
                </div>
              </div>
            </p-panel>
          </div>
          <div class="p-col-5">
            <p-table [value]="shape.shapes_t1" [columns]="shapesTitles_t1">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let titles of columns">
                    {{titles[0]}}
                  </th>
                </tr>
                <tr>
                  <th *ngFor="let titles of columns">
                    {{titles[1]}}
                  </th>
                </tr>
                <tr *ngIf="is3Tables">
                  <th *ngFor="let titles of columns">
                    {{titles[2]}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns; let iCol=index">
                    <p-spinner size="1" [disabled]="!shape.selected" [ngClass]="rowData.dataValues[iCol].blinkClass" [(ngModel)]="rowData.dataValues[iCol].currentValue"
                      [min]="rowData.dataValues[iCol].minValue" [max]="rowData.dataValues[iCol].maxValue" (onChange)="onChangeCellSpinner_t1($event, iCol, rowData, i)"></p-spinner>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
      <div class="p-col-12">
        <div class="p-grid p-nogutter p-justify-end" *ngIf="is3Tables">
          <div class="p-col-5 p-offset-3">
            <p-table [value]="shape.shapes_t2" [columns]="shapesTitles_t2">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let titles of columns">
                    {{titles[0]}}
                  </th>
                </tr>
                <tr>
                  <th *ngFor="let titles of columns">
                    {{titles[1]}}
                  </th>
                </tr>
                <tr *ngIf="is3Tables">
                  <th *ngFor="let titles of columns">
                    {{titles[2]}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns; let iCol=index">
                    <p-spinner size="1" [disabled]="!shape.selected" [ngClass]="rowData.dataValues[iCol].blinkClass" [(ngModel)]="rowData.dataValues[iCol].currentValue"
                      [min]="rowData.dataValues[iCol].minValue" [max]="rowData.dataValues[iCol].maxValue" (onChange)="onChangeCellSpinner_t2($event, iCol, rowData, i)"></p-spinner>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
      <div class="p-col-12">
        <div class="p-grid p-nogutter p-justify-end" *ngIf="is3Tables">
          <div class="p-col-5 p-offset-3">
            <p-table [value]="shape.shapes_t3" [columns]="shapesTitles_t3">
              <ng-template pTemplate="header" let-columns>
                <tr>
                  <th *ngFor="let titles of columns">
                    {{titles[0]}}
                  </th>
                </tr>
                <tr>
                  <th *ngFor="let titles of columns">
                    {{titles[1]}}
                  </th>
                </tr>
                <tr *ngIf="is3Tables">
                  <th *ngFor="let titles of columns">
                    {{titles[2]}}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr>
                  <td *ngFor="let col of columns; let iCol=index">
                    <p-spinner size="1" [disabled]="!shape.selected" [ngClass]="rowData.dataValues[iCol].blinkClass" [(ngModel)]="rowData.dataValues[iCol].currentValue"
                      [min]="rowData.dataValues[iCol].minValue" [max]="rowData.dataValues[iCol].maxValue" (onChange)="onChangeCellSpinner_t3($event, iCol, rowData, i)"></p-spinner>
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </div>
      </div>
    </p-fieldset>
  </div>
</div>