app-shapes-pattern .ui-spinner .ui-spinner-button {
    display: none;
}
app-shapes-pattern .ui-spinner .ui-spinner-input,
app-shapes-pattern .ui-table .ui-table-thead > tr > th,
app-shapes-pattern .ui-button.ui-button-text-only .ui-button-text,
app-shapes-pattern .ui-button-text-only .ui-button-text {
    padding: unset;
}
app-shapes-pattern .ui-table .ui-table-tbody > tr > td {
    padding: 0em 1px 0em 1px;
    border: unset;
}
app-shapes-pattern .ui-spinner .ui-spinner-input {
    text-align: center;
}
app-shapes-pattern .ui-table .ui-table-thead > tr > th {
    width: 30px;
    font-weight: bold;
}
app-shapes-pattern .ui-table table {
    table-layout: unset;
    border-collapse: unset;
}
.wn-shapes-panel { /*no affect, can be removed*/
    padding-left: unset;
    padding-right: unset;
}
app-shapes-pattern .ui-panel .ui-panel-content{
    padding-top: 0.9em;
    padding-bottom: 0.9em;
   /* padding-left: 2em; for drop down usage*/
   /* padding-right: unset;  for drop down usage*/
}
app-shapes-pattern .ui-panel .ui-panel-titlebar{
    border-radius: unset;
    padding: unset;
}
app-shapes-pattern .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    font-size: 13px;
}
app-shapes-pattern .ui-chkbox .ui-chkbox-box,  
app-shapes-pattern .ui-chkbox,
app-shapes-pattern .ui-button.ui-state-default.ui-button-danger, 
app-shapes-pattern .ui-buttonset.ui-button-danger > .ui-button.ui-state-default {
    height: 15px;
    width: 16px;
    vertical-align: middle;
    transform: translateY(-1px);
}
app-shapes-pattern .ui-chkbox { 
    transform: translateY(0px) !important; 
}
app-shapes-pattern .pi {
    font-size: 1em;
}
app-shapes-pattern .wn-shapes-pattern-hr {
    margin: 2px 1px 0px 1px !important;  
}
app-shapes-pattern .ui-panel { 
    margin-top:2px;
}
app-shapes-pattern .ui-fieldset .ui-fieldset-legend a,
app-shapes-pattern .ui-fieldset-toggleable .ui-fieldset-legend a{
    padding: 0em 0em 0em 1em;
}
app-shapes-pattern .blink-class {
    animation: blinker 1s linear;
}
@keyframes blinker {
    50% {
        opacity: 0;
        color: red;
    }
}