<p>
  <button class="ui-button-success" pButton (click)="run()" label="הרץ" [disabled]="runButtonDisabled()"></button>
  <button class="ui-button-danger" pButton (click)="stop()" label="עצור" [disabled]="!execution"></button>
  <span *ngIf="execution"> <label style="padding-right:1em">ריצה מספר:</label>{{execution?.executionId}}</span>
  <span *ngIf="showWaitingMessage" style="float: left;padding-bottom: unset; font-size: 1.3em;">
    <!-- <app-clock-spinner></app-clock-spinner> -->
    <label>אנא המתן...</label>
  </span>
  <button class="ui-button-info" pButton style="float: left" (click)="exportToExcel()" label="יצא לאקסל" *ngIf="execution?.status == 3"></button>
  <p-progressBar mode="indeterminate" [style]="{'height': '3px'}"
    *ngIf="execution?.status == 2 || execution?.status == 1"></p-progressBar>
</p>
<p>
  <p-table [columns]="cols" [value]="rows">
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [ngClass]="getColumnStyle(col.field)">
          {{col.header}}
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns" [ngClass]="getColumnStyle(col.field)">
          <button *ngIf="col.field =='show'" id="openbtn" type="button" pButton icon="pi pi-bars"
            style="font-size: 0.7em; width: 2em; height: 1.5em; margin-top: 2px"
            (click)="showBets($event, rowData)"></button>
          <div *ngIf="!isResultTitle(col.field) && col.field !='show' && col.field !='programDescription'">
            {{styleField(col.field,rowData[col.field])}}
          </div>
          <div *ngIf="col.field =='programDescription'" [ngClass]="getProgramDescriptionStyle(rowData[col.field])">
            {{rowData[col.field]}}
          </div>
          <div *ngIf="isResultTitle(col.field)" [ngClass]="getResultStyle(col.field, rowData.results[col.field])">
            {{rowData.results[col.field]}}</div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="footer" let-columns>
      <tr *ngIf="totals">
        <td *ngFor="let col of columns">
          <div *ngIf="col.field == 'bets'">{{styleField(col.field,totals.bets)}}</div>
          <div *ngIf="isResultTitle(col.field)" [ngClass]="getResultStyle(col.field, totals.results[col.field])">
            {{styleField(col.field,totals.results[col.field])}}</div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <table>
        <tr>
          <td style="width: 140px">סך הכל מחזורים נבדקו</td>
          <td>{{summary.programsCounter}}</td>
        </tr>
        <tr>
          <td>מחזורים נפסלו ת.ל.ת</td>
          <td>{{summary.notValidProgramCounter}}</td>
        </tr>
        <tr>
          <td>מחזורים נפסלו אין טור</td>
          <td>{{summary.notExistsProgramCounter}}</td>
        </tr>
      </table>
    </ng-template>
  </p-table>
</p>