.wn-bt-nobet{
    color: orange;
}
.wn-bt-invalid-program{
    color: red
}
.wn-first-winner {
    background-color: rgb(25, 163, 7);
}
.wn-second-winner {
    background-color: rgb(33, 231, 33);
}
.wn-third-winner {
    background-color: rgb(78, 243, 114);
}
.wn-forth-winner {
    background-color: rgb(168, 240, 168);
}
.wn-fifth-winner {
    background-color: rgb(209, 245, 209);
}
.wn-bets-col-class {
    width: 7em;
    border-right-width: 3px !important;
    border-left-width: 3px !important;
}
.wn-show-col-class{
    width: 2em;    
}
.wn-program-col-class{
    width: 7em;
}
.wn-counters-col-class{
    width: 5em;
}
:host ::ng-deep .ui-table table {
    border-collapse: unset;
}
:host ::ng-deep .ui-table .ui-table-summary {
    text-align: start;
    border: 1px solid #c8c8c8;
}
#openbtn{
    padding: unset;
}
:host ::ng-deep .ui-table .ui-table-thead > tr > th,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td,
:host ::ng-deep .ui-table .ui-table-tfoot > tr > td {
    padding: unset;
    text-align: center;
}
