<p-tabView>
    <p-tabPanel header="ראשי" tooltip="מחשבון טורים" [selected]="true">
        <app-pricer></app-pricer>
    </p-tabPanel>
    <p-tabPanel header="צימצום בסיס" tooltip="הגדרות לצימצום בסיסי של מספר טורים">
        <app-basic-subsets (isDirty)="setDirty()"></app-basic-subsets>
    </p-tabPanel>
    <p-tabPanel header="צימצום מתקדם" tooltip="הגדרות לצימצום מתקדם של מספר טורים">
        <app-advanced-subsets (isDirty)="setDirty()" (errorExists)="onError($event)"></app-advanced-subsets>
    </p-tabPanel>
    <p-tabPanel header="צורות" tooltip="הגדרות לצימצום צורות של מספר טורים">
        <app-shapes-subsets (isDirty)="setDirty()"></app-shapes-subsets>
    </p-tabPanel>
</p-tabView>
