<div class="p-grid p-justify-between">
  <div class="p-col-6">
    <p-panel>
      <p-header>
        <strong>טווח יחסים - [{{defaultRangeMin | number:'1.2-2'}} .. {{defaultRangeMax | number:'1.2-2'}}]</strong>
      </p-header>
      <div class="p-grid p-nogutter">
        <div class="p-col-12">
          <app-decimal-range [id]="'minmax_include_range'" [min]="defaultRangeMin" [max]="defaultRangeMax" (isDirty)="setDirty()"
            (onError)="onError($event)">
          </app-decimal-range>
        </div>
      </div>
    </p-panel>
  </div>
  <div class="p-col-6">
    <p-panel>
      <p-header>
        <div class="p-grid p-nogutter">
          <div class="p-col-9 p-nogutter">
            <strong> טווח יחסים שלא יהיה - [{{defaultRangeMin | number:'1.2-2'}} .. {{defaultRangeMax |
              number:'1.2-2'}}]</strong>
          </div>
          <div class="p-col-3 p-nogutter">
            <p-inputSwitch [(ngModel)]="notInRangeSwitch" (onChange)="notinrange.disabled = !$event.checked;setDirty()"></p-inputSwitch>
          </div>
        </div>
      </p-header>
      <div class="p-grid p-nogutter">
        <div class="p-col-12">
          <app-decimal-range #notinrange [disabled]="!notInRangeSwitch" [id]="'minmax_exclude_amountsum'" [min]="defaultRangeMin" [max]="defaultRangeMax"
            (isDirty)="setDirty()" (onError)="onError($event)">
          </app-decimal-range>
        </div>
      </div>
    </p-panel>
  </div>
</div>
<div class="p-grid">
  <div class="p-col-7">
    <p-panel>
      <p-header>
        <strong>כמה פעמים לא יופיע 1X2</strong>
      </p-header>
      <div class="p-grid p-nogutter">
        <div class="p-col-2 p-nogutter">
          <label><strong>1</strong></label>
        </div>
        <div class="p-col-8 p-nogutter">
          <wn-minmax #noOcc1 class="p-col-10" [id]="'minmax_exclude_amount1'" [disabled]="true" [min]="defaultMin"
            [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
        </div>
        <div class="p-col-2 p-nogutter">
          <p-inputSwitch [(ngModel)]="notOccurance1Switch" (onChange)="noOcc1.disabled = !$event.checked;setDirty()"></p-inputSwitch>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col-2 p-nogutter">
          <label><strong>X</strong></label>
        </div>
        <div class="p-col-8 p-nogutter">
          <wn-minmax #noOccX class="p-col-10" [id]="'minmax_exclude_amountX'" [disabled]="true" [min]="defaultMin"
            [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
        </div>
        <div class="p-col-2 p-nogutter">
          <p-inputSwitch [(ngModel)]="notOccuranceXSwitch" (onChange)="noOccX.disabled = !$event.checked;setDirty()"></p-inputSwitch>
        </div>
      </div>
      <div class="p-grid p-nogutter">
        <div class="p-col-2 p-nogutter">
          <label><strong>2</strong></label>
        </div>
        <div class="p-col-8 p-nogutter">
          <wn-minmax #noOcc2 class="p-col-10" [id]="'minmax_exclude_amount2'" [disabled]="true" [min]="defaultMin"
            [max]="defaultMax" (isDirty)="setDirty()"></wn-minmax>
        </div>
        <div class="p-col-2 p-nogutter">
          <p-inputSwitch [(ngModel)]="notOccurance2Switch" (onChange)="noOcc2.disabled = !$event.checked;setDirty()"></p-inputSwitch>
        </div>
      </div>
    </p-panel>
  </div>  
</div>
<div class="p-grid p-justify-between">
  <div class="p-col-6">
    <p-panel>
      <p-header>
        <strong>רצף 1X2 שלא יהיה</strong>
      </p-header>
      <div class="p-grid p-nogutter p-justify-between">
        <div class="p-col-2 p-nogutter">
          <label><strong>1</strong></label>
        </div>
        <div class="p-col-5 p-nogutter">
          <p-dropdown #noSeq1 [disabled]="!notSequence1Switch" class="wn-minmax-values" [options]="values" [(ngModel)]="selectedNoSeq1"
            optionLabel="label" [showClear]="false" scrollHeight="500px" (onChange)="setDirty()"></p-dropdown>
        </div>
        <div class="p-col-3 p-nogutter">
          <p-inputSwitch [(ngModel)]="notSequence1Switch" (onChange)="noSeq1.disabled = !$event.checked; setDirty()"></p-inputSwitch>
        </div>
      </div>
      <div class="p-grid p-nogutter  p-justify-between">
        <div class="p-col-2 p-nogutter">
          <label><strong>X</strong></label>
        </div>
        <div class="p-col-5 p-nogutter">
          <p-dropdown #noSeqX [disabled]="!notSequenceXSwitch" class="p-col-8 wn-minmax-values" [options]="values"
            [(ngModel)]="selectedNoSeqX" optionLabel="label" [showClear]="false" scrollHeight="500px" (onChange)="setDirty()"></p-dropdown>
        </div>
        <div class="p-col-3 p-nogutter">
          <p-inputSwitch [(ngModel)]="notSequenceXSwitch" (onChange)="noSeqX.disabled = !$event.checked; setDirty()"></p-inputSwitch>
        </div>
      </div>
      <div class="p-grid p-nogutter  p-justify-between">
        <div class="p-col-2 p-nogutter">
          <label><strong>2</strong></label>
        </div>
        <div class="p-col-5 p-nogutter">
          <p-dropdown #noSeq2 [disabled]="!notSequence2Switch" class="p-col-8 wn-minmax-values" [options]="values"
            [(ngModel)]="selectedNoSeq2" optionLabel="label" [showClear]="false" scrollHeight="500px" (onChange)="setDirty()"></p-dropdown>
        </div>
        <div class="p-col-3 p-nogutter">
          <p-inputSwitch [(ngModel)]="notSequence2Switch" (onChange)="noSeq2.disabled = !$event.checked; setDirty()"></p-inputSwitch>
        </div>
      </div>
    </p-panel>
  </div>  
  <div class="p-col-6">
    <p-panel>
      <p-header>
        <strong>שבירות שלא יהיה</strong>
      </p-header>
      <div class="p-grid p-nogutter">
        <div class="p-col-9 p-nogutter">
          <wn-minmax #noBrk class="p-col-10" [id]="'minmax_exclude_breaks'" [disabled]="true" [min]="defaultMin" [max]="defaultMax"
            (isDirty)="setDirty()"></wn-minmax>
        </div>
        <div class="p-col-3 p-nogutter">
          <p-inputSwitch [(ngModel)]="notBreaksSwitch" (onChange)="noBrk.disabled = !$event.checked;setDirty()"></p-inputSwitch>
        </div>
      </div>
    </p-panel>
  </div>
</div>