#hr-t {
  padding: unset;
  margin: 0px 0px 4px 0px;
}
#hr-b {
  margin: unset;
  /* margin: 8px 0px; */
}
.match-bar-population-data-title {
  font-size: 12px;
  color: white;
  padding: 2px 4px;
  border-radius: 10px;
}
.match-bar-population-active-data-title {
  background-color: #cfa23e !important;
  color: white;
  font-weight: bold;
}
.match-bar-population-menu-item {
  height: 2px;
}
.match-bar-population-active-menu-item {
  background-color: #ffc107 !important;
}
.match-bar-population-btn {
  border-radius: 10px;
}
.scroll-div {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  height: 45px;
}
