<div class="ui-rtl" dir="rtl">
<p-table [value]="systems" [paginator]="true" [rows]="5" [responsive]="true">
  <ng-template pTemplate="header">
      <tr>
          <th pSortableColumn="name">שם מערכת<p-sortIcon field="name"></p-sortIcon></th>
          <th style="width:4em">בחר</th>
          <th style="width:4em">מחק</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-system>
      <tr>
          <td><span class="ui-column-title">שם מערכת</span>{{system.name}}</td>
          <td>
              <button pButton icon="pi pi-folder-open" (click)="selectSystem(system)"></button>
          </td>
          <td>
            <button pButton icon="pi pi-trash" [disabled]="system.refrenceSystemId" (click)="deleteSystem(system)"></button>
        </td>
    </tr>
  </ng-template>
</p-table>
</div>