/* :host ::ng-deep .ui-table table,
:host ::ng-deep .ui-table .ui-table-tbody > tr > td{
    width: unset;
    padding: .02em .5em .02em .5em;
    text-align: center;
} */
:host ::ng-deep .wn-template-watcher-show-bets.ui-state-disabled,
:host ::ng-deep .wn-template-watcher-show-bets.ui-widget:disabled {
    opacity: unset;
}
.wn-template-watcher-show-bets {
    width: 2em;
    height: 1.5em;
    margin-top: 0.4em;
}
:host ::ng-deep .table-class > .ui-table table {
    text-align: center;
}

:host ::ng-deep .ui-table-scrollable-header-box {
    margin-left: 0px;
    margin-right: 17px !important;
} 
:host ::ng-deep .ui-table .ui-table-tbody > tr > td{
    padding: unset;
}