<div *ngIf="watchData.length > 0" style="width: 350px;">
    <p-table [value]="watchData" [scrollable]="true" scrollHeight="400px" dir="ltr" class="table-class">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:6em">טור אב</th>
                <th>ערך</th>
                <th>שם</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td style="width:6em">
                    <button pButton icon="pi pi-bars" [ngStyle]="rowData.statusStyle"
                        class="wn-template-watcher-show-bets" (click)="showBets(rowData);"
                        [disabled]="rowData.status != 1"></button>
                </td>
                <td>{{rowData.value}}</td>
                <td>{{rowData.name}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>