<backtesting-definitions
    [definitions]="definitions$ | async">
</backtesting-definitions>
<backtesting-bets-dialogs
  [program]="pastProgramSelected$ | async"
  [programType]="programType$ | async"
  [programsRepository]="programsRepository$ | async">  
</backtesting-bets-dialogs>
<backtesting-system 
  [definitions]="definitions$ | async" 
  [execution]="execution$ | async"
  (runSystem)="run($event)"
  (stopSystem)="deactivatePoll($event)"
  (stopOnException)="deactivatePollWithNoEffect()"
  (pollSystem)="poll($event)">
</backtesting-system>