<p-table [value]="collection" sortField="type" sortMode="single" (onSort)="onSort()" [scrollable]="true" scrollHeight="350px" dir="ltr"
    class="table-class">
    <ng-template pTemplate="header">
        <tr>
            <th style="width:4em">מחק</th>
            <th>ערך</th>
            <th>שם</th>
            <th>סוג</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr>
            <td style="width:4em">
                <button pButton icon="pi pi-trash" (click)="deleteTemplate(rowData)"></button>
            </td>
            <td>{{rowData.value}}</td>
            <td>{{rowData.name}}</td>
            <td *ngIf="rowGroupMetadata[rowData.type].index === rowIndex"
                [attr.rowspan]="rowGroupMetadata[rowData.type].size">
                {{showProgramTypeLabel(rowData.type)}}
            </td>
        </tr>
    </ng-template>
</p-table>