:host ::ng-deep .table-class > .ui-table table {
    text-align: center;
}

:host ::ng-deep .ui-table-scrollable-header-box {
    margin-left: 0px;
    margin-right: 17px !important;
} 
:host ::ng-deep .ui-table .ui-table-tbody > tr > td{
    padding: unset;
}