<div class="p-grid p-justify-around">
    <div class="p-col-5">
        <p-panel>
            <p-header>
                <strong>כמה סיכום זוגות 1X2</strong>
            </p-header>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>0</strong></label>
                </div>
                <!-- [selectedMin]="rowData.from" [selectedMax]="rowData.to" -->
                <wn-minmax class="p-col-10" [min]="0" [max]="9" (minChanges)="minChanges($event, 0)"
                    (maxChanges)="maxChanges($event, 0)"></wn-minmax>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>1</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="9" (minChanges)="minChanges($event, 1)"
                    (maxChanges)="maxChanges($event, 1)"></wn-minmax>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>2</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="9" (minChanges)="minChanges($event, 2)"
                    (maxChanges)="maxChanges($event, 2)"></wn-minmax>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>3+</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="9" (minChanges)="minChanges($event, 3)"
                    (maxChanges)="maxChanges($event, 3)"></wn-minmax>
            </div>
        </p-panel>
    </div>
    <div class="p-col-5">
        <p-panel>
            <p-header>
                <strong>כמה סיכום זוגות ABC</strong>
            </p-header>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>0</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="9" (minChanges)="minChanges($event, 4)"
                    (maxChanges)="maxChanges($event, 4)"></wn-minmax>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>1</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="9" (minChanges)="minChanges($event, 5)"
                    (maxChanges)="maxChanges($event, 5)"></wn-minmax>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>2</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="9" (minChanges)="minChanges($event, 6)"
                    (maxChanges)="maxChanges($event, 6)"></wn-minmax>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>3+</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="9" (minChanges)="minChanges($event, 7)"
                    (maxChanges)="maxChanges($event, 7)"></wn-minmax>
            </div>
        </p-panel>
    </div>
</div>
<div class="p-grid p-justify-around">
    <div class="p-col-5">
        <p-panel>
            <p-header>
                <strong>כמה סיכום שלשות 1X2</strong>
            </p-header>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>0</strong></label>
                </div>
                <wn-minmax class="p-col-10 shapes3-dp-class" [min]="0" [max]="27" (minChanges)="minChanges($event, 8)"
                    (maxChanges)="maxChanges($event, 8)"></wn-minmax>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>1</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="27" (minChanges)="minChanges($event, 9)"
                    (maxChanges)="maxChanges($event, 9)"></wn-minmax>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>2</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="27" (minChanges)="minChanges($event, 10)"
                    (maxChanges)="maxChanges($event, 10)"></wn-minmax>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>3+</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="27" (minChanges)="minChanges($event, 11)"
                    (maxChanges)="maxChanges($event, 11)"></wn-minmax>
            </div>
        </p-panel>
    </div>
    <div class="p-col-5">
        <p-panel>
            <p-header>
                <strong>כמה סיכום שלשות ABC</strong>
            </p-header>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>0</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="27" (minChanges)="minChanges($event, 12)"
                    (maxChanges)="maxChanges($event, 12)"></wn-minmax>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>1</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="27" (minChanges)="minChanges($event, 13)"
                    (maxChanges)="maxChanges($event, 13)"></wn-minmax>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>2</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="27" (minChanges)="minChanges($event, 14)"
                    (maxChanges)="maxChanges($event, 14)"></wn-minmax>
            </div>
            <div class="p-grid">
                <div class="p-col-2">
                    <label><strong>3+</strong></label>
                </div>
                <wn-minmax class="p-col-10" [min]="0" [max]="27" (minChanges)="minChanges($event, 15)"
                    (maxChanges)="maxChanges($event, 15)"></wn-minmax>
            </div>
        </p-panel>
    </div>
</div>