/* :host ::ng-deep .ui-dropdown-panel .ui-dropdown-items-wrapper {
    max-height: unset;
} */
/* :host ::ng-deep .wn-minmax-values .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, .wn-minmax-values .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight, .wn-minmax-values .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item{
    width: unset !important;
} */

:host ::ng-deep .shapes3-dp-class > .wn-minmax-values .ui-dropdown .ui-dropdown-panel {
    width: unset !important;
}