:host ::ng-deep button {
    margin-right: .25em;
}
:host ::ng-deep .custom-toast .ui-toast-message {
    color: #ffffff;
    background: #FC466B;
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
    background: linear-gradient(to right, #3F5EFB, #FC466B);
}
:host ::ng-deep .custom-toast .ui-toast-close-icon {
    color: #ffffff;
}
:host ::ng-deep .ui-toast .ui-toast-icon {
    display: none;
}
:host ::ng-deep .wn-top-toolbar .ui-toolbar {
    padding-bottom: unset;
}
:host ::ng-deep .ui-tieredmenu .ui-menuitem-link{
    text-align: center;
    padding: .25em;
}
:host ::ng-deep #calculate-bet-button .ui-button.ui-button-text-only .ui-button-text{
    background-color: orange;
    font-weight: bold;
    border: unset;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
:host ::ng-deep #wn-optimization-btn .ui-button.ui-button-text-only .ui-button-text{
    font-weight: bold;
    color: white;
}
:host ::ng-deep #wn-prepare-btn .ui-button.ui-button-text-only .ui-button-text{
    padding: 0.1em;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
}
:host ::ng-deep .ui-dropdown {
    min-width: 100px;
}
:host ::ng-deep #clean-shrink-system-button .ui-button.ui-state-default.ui-button-info, body .ui-buttonset.ui-button-info > .ui-button.ui-state-default
{
    position: unset;
}
:host ::ng-deep #template-button.ui-button.ui-button-text-only .ui-button-text{
    /* background-color: violet; */
    font-weight: bold;
    border: unset;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}
/* :host ::ng-deep #wn-opt-link a:link, 
:host ::ng-deep #wn-opt-link a:visited {
    background-color: #50b5d6;
    color: white;
    padding: 0.429em 1em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
:host ::ng-deep #wn-opt-link a:hover, 
:host ::ng-deep #wn-opt-link a:active {
    background-color: #747fef;
} */