<p-toolbar class="wn-top-toolbar">
    <div class="p-grid p-no-gutter">
        <div class="p-col-6" style="padding-bottom: unset">
            <div class="p-grid p-no-gutter">
                <div class="p-col-8">
                    <program-selector (onChangeSelection)="onProgramSelectorChange()" [initializer]="true" [showProgramsDp]="true" [showYearsDp]="true"></program-selector>
                </div>
                <div class="p-col-4">
                    <button type="text" id="template-button" pButton [ngStyle]="templateButtonStyle" [label]="templateButtonLabel" (click)="openTemplateWatcher()" *ngIf="isAdminUser"></button>
                </div>
            </div>
        </div>
        <div class="p-col-5" style="padding-bottom: unset">
            <div class="p-grid p-no-gutter">
                <div class="p-col-8">
                    <p-button label="צמצם טורים" [disabled]="hasError" id="calculate-bet-button"
                        (onClick)="calculate(games, form)"></p-button>
                    <label><strong
                            style="font-size: 1.3em; color: green; vertical-align: middle; padding-right: 0.5em">{{totalBetsAfterCalcLabel}}</strong></label>
                </div>
                <div class="p-col-2" *ngIf="calculationResult && !outputFileUrl">
                    <p-button id="wn-prepare-btn" label="הכן טופס" (onClick)="resultsToExcel(calculationResult, form)">
                    </p-button>
                </div>
                <div class="p-col-2" *ngIf="outputFileUrl" style="text-align: left">
                    <a [href]="outputFileUrl" download target="_self">
                        <i style="font-size: 2em; vertical-align: -webkit-baseline-middle;" class="pi pi-download"></i>
                    </a>
                </div>
                <div class="p-col-2" *ngIf="playerFileUrl" style="text-align: left">
                    <a [href]="playerFileUrl" download target="_self">
                        <i style="font-size: 2em; vertical-align: -webkit-baseline-middle;"
                            class="pi pi-caret-left"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="p-col-1" style="padding-bottom: unset; font-size: 1.3em;">
            <span [ngStyle]="offlineMode? {'color': 'red'} : ''">
                <app-clock-spinner></app-clock-spinner>
            </span>
        </div>
    </div>
</p-toolbar>
<p-blockUI [blocked]="calculateStarted">
    <i style="position:absolute;top:25%;left:50%">
        <p-progressSpinner [style]="{width: '100px', height: '300px'}" strokeWidth="8" animationDuration=".5s">
        </p-progressSpinner>
    </i>
</p-blockUI>
<div class="p-grid">
    <div class="p-col-6" style="margin-top: 0.3em;">
        <app-games #games></app-games>
    </div>
    <div class="p-col-6">
        <app-form #form (isDirty)="setDirtyForm()" (errorExists)="onError($event)"></app-form>
    </div>
</div>
<div class="p-grid">
    <p-toolbar class="p-col-6" *ngIf="games.programData && games.programData.programGames.length > 0">
        <div class="ui-toolbar-group-right">
            <p-button styleClass="ui-button-info ui-button-raised ui-button-rounded" label="נקה טור אב"
                (onClick)="games.clearSelectedBets()" [disabled]="!games.isDirty()"></p-button>
            <p-button styleClass="ui-button-info ui-button-raised ui-button-rounded" label="נקה והבא טור אב"
                (onClick)="refreshData()" [disabled]="false"></p-button>
        </div>
    </p-toolbar>
    <p-toolbar class="p-col-6" *ngIf="games.programData && games.programData.programGames.length > 0">
        <div class="ui-toolbar-group-right">
            <p-button styleClass="ui-button-info ui-button-raised ui-button-rounded" id="clean-shrink-system-button"
                label="נקה מערכת צימצומים" (onClick)="clearFormSelections(form)" [disabled]="!isFormDirty"></p-button>
        </div>
    </p-toolbar>
</div>