/* unfortunatelly nothing is not working */
:host ::ng-deep .ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    float: right !important;
    font-size: medium !important;
}
:host ::ng-deep .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon{
    float: left !important;
}
:host ::ng-deep > p-dynamicdialog .save-system-header {
    float: right !important;
    font-size: medium !important;
}
app-save-system .ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-icon{
    float: left !important;
}