<div class="ui-rtl" dir="rtl">
  <div class="p-grid" style="padding-top: 1em">
    <div class="p-col-3">
      <span><strong>שם מערכת:</strong></span>
    </div>
    <div class="p-col-9">
      <input type="text" [(ngModel)]="systemName" pInputText size="40" style="padding: 0.3em">
    </div>
  </div>
  <hr />
  <div class="p-grid">
    <div class="p-col-2">
      <button pButton label="שמור" (click)="saveSystem(systemName, false)" [disabled]="systemName===''"></button>
    </div>
  </div>
  <div *ngIf="error" class="p-grid">
    <div class="p-col-9">
      {{error}}
    </div>
    <div class="p-col-3">
      <div class="p-grid p-justify-even">
        <div class="p-col-6">
          <p-button label="כן" (onClick)="saveSystem(systemName, true)"></p-button>
        </div>
        <div class="p-col-6">
          <p-button label="לא" (onClick)="handleNo($event)"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>