<div style="text-align: center">
    <program-selector [initializer]="false" [showProgramsDp]="true" [showYearsDp]="true" (onChangeSelection)="onChangeSelection()"></program-selector>
    <button pButton [label]="getLabel()" (click)="syncProgram()" style="margin-top:0.5em"></button>
    <hr *ngIf="syncResult != undefined" />
    <p *ngIf="syncResult != undefined && syncResult.isSuccess == false">
        <p-message severity="error" text="אירעה תקלה לא צפויה בסינכרון התוכניה"></p-message>
    </p>
    <p *ngIf="syncResult != undefined && syncResult.isSuccess == true">
        <p-message severity="success" text="תוכניה עודכנה בהצלחה"></p-message>
    </p>
</div>