:host ::ng-deep  .ui-button.ui-button-text-only .ui-button-text{
    padding-top: unset;
    padding-bottom: unset;
}
/* WHY IT DOES NOT WORK??? 
body > p-dynamicdialog > div > .sync-program-dialog { 
    top: 30% !important;
} */