<div class="p-grid" *ngIf="optimizerData">
    <div class="p-col-6">
        <conditions-table [headers]="amount1X2_cols" [data]="optimizerData.conditions.amount1X2"></conditions-table>
        <conditions-table [headers]="sequence1X2_cols" [data]="optimizerData.conditions.sequence1X2"></conditions-table>
        <conditions-table [headers]="breaks1X2_cols" [data]="optimizerData.conditions.breaks1X2"></conditions-table>
        <conditions-table [headers]="amountABC_cols" [data]="optimizerData.conditions.amountABC"></conditions-table>
        <conditions-table [headers]="sequenceABC_cols" [data]="optimizerData.conditions.sequenceABC"></conditions-table>
        <conditions-table [headers]="breaksABC_cols" [data]="optimizerData.conditions.breaksABC"></conditions-table>
        <conditions-table [headers]="range_cols" [data]="optimizerData.conditions.range" [isRange]="true"></conditions-table>
    </div>
    <div class="p-col-6">
        <conditions-table [headers]="advancedObjects_cols" [data]="optimizerData.conditions.advancedObjects"></conditions-table>
    </div>
</div>