<div>
    <program-selector [initializer]="false" [showProgramsDp]="false" [showYearsDp]="false"
        (onChangeSelection)="onChangeProgramType()">
    </program-selector>
</div>
<hr>
<p-table [value]="rates">
    <ng-template pTemplate="header">
        <tr>
            <th>משחק</th>
            <th>1</th>
            <th>X</th>
            <th>2</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td>{{rowData.gameIndex}}</td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.rate1" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.rate1}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.rateX" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.rateX}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="rowData.rate2" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{rowData.rate2}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>
<hr>
<div style="display: inline;">
    <button pButton label="עדכן" (click)="updateRates()" style="margin-left: 10px;"></button>
    <div *ngIf="updateResponse != undefined && updateResponse.isSuccess == false" style="display: inline;">
        <p-message severity="error" text="אירעה תקלה לא צפויה בשמירה"></p-message>
    </div>
    <div *ngIf="updateResponse != undefined && updateResponse.isSuccess == true" style="display: inline;">
        <p-message severity="success" text="עידכון עבר בהצלחה"></p-message>
    </div>
</div>