:host ::ng-deep  .wn-template-basebet-selected.ui-button.ui-button-text-only .ui-button-text {
    background: rgb(14, 187, 245);
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-weight: bold;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-style:outset;
    font-size: small;
}
:host ::ng-deep .wn-rate-select-button .ui-button.ui-button-text-only .ui-button-text {
    padding-right: 0.5em;
    padding-left: 0.5em;
    font-weight: bold;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    border-style:outset;
    font-size: small;
}
