<div class="p-grid">
    <div class="p-col-12">
        <p-dataView [value]="uiBaseBetData" [rows]="uiBaseBetData.length">
            <p-header>טור אב בסיס</p-header>
            <ng-template let-bet pTemplate="listItem" let-ri="rowIndex">
                <div class="p-grid" style="border-bottom: 1px solid #d9d9d9; margin-right: unset; margin-top:unset">
                    <div class="p-col-1 wn-nopadding">{{ri+1}}</div>
                    <div class="p-col-11 wn-nopadding">
                        <p-selectButton class="wn-rate-select-button" [options]="bet" multiple="multiple">
                        </p-selectButton>
                    </div>
                </div>
            </ng-template>
        </p-dataView>
    </div>
</div>