.wdl-item {
  width: 4em;
}
.digest-container{
    font-size: 70%;
}
.wdl-win {
  color: black !important;
  background-color: #12bf37 !important;
  font-weight: bold;
}
.wdl-draw {
  color: black !important;
  background-color: #dfc615 !important;
  font-weight: bold;
}
.wdl-lost {
  color: black !important;
  background-color: #e95a3a !important;
  font-weight: bold;
}
