<div>
    <p-dropdown [options]="programsType" [(ngModel)]="selectedProgramType" placeholder="בחר סוג תוכניה"
        optionLabel="label" [showClear]="false" (onChange)="OnChangeProgramType($event)" Style="margin-left: 5px">
    </p-dropdown>
    <p-dropdown [options]="programsYear" [(ngModel)]="selectedProgramYear" placeholder="בחר שנה" optionLabel="label"
        [showClear]="false" (onChange)="OnChangeProgramYear($event)" Style="margin-left: 5px" *ngIf="showYearsDp"></p-dropdown>
    <p-dropdown id="program-list-dp" [options]="programs" [(ngModel)]="selectedProgram" placeholder="בחר תוכניה"
        optionLabel="label" [showClear]="false" (onChange)="OnChangeProgram($event)"
        [disabled]="!(selectedProgramType && selectedProgramYear)" *ngIf="showProgramsDp">
    </p-dropdown>
</div>