<button pButton type="button" class="ui-button-success" label="טבלה נוספת&nbsp;+" (click)="addCombination(defaultMin, defaultMax, true)"></button>
<!--[disabled]="combinations && combinations.length === 20"-->
<div class="p-grid p-nogutter">
  <div class="p-col-fixed" style="width:130px" *ngFor="let col of combinations; let i=index" [@animation]="'visible'">
    <div class="p-grid p-nogutter p-justify-start">
      <div class="p-col-fixed" style="width:100px">
        <p-panel>
          <p-header>
            <div class="p-grid p-nogutter">
              <div class="p-col-6">
                <strong>{{i+1}}</strong>
              </div>
              <div class="p-col-3">
                <p-checkbox [(ngModel)]="combinations[i].selected" (onChange)="setDirty()" binary="true"></p-checkbox>
              </div>
              <div class="p-col-3">
                <button pButton type="button" icon="pi pi-times" class="ui-button-danger ui-button-raised"
                  (click)="deleteCombination($event, i)" [disabled]="combinations.length == 1"></button>
              </div>
            </div>
          </p-header>
          <div class="p-grid p-nogutter p-justify-center">
            <div class="p-col-fixed" style="width:84px">
              <p-table [value]="combinations[i].games">
                <ng-template pTemplate="body" let-rowData>
                  <tr>
                    <td style="width:20px">
                      {{rowData.index}}
                    </td>
                    <td class="wn-combinations-column">
                      <p-dropdown [disabled]="!combinations[i].selected" class="wn-combinations-values" [options]="rowData.combinationValues"
                        optionLabel="label" [showClear]="false" scrollHeight="500px" (onChange)="setDirty()"
                        [(ngModel)]="rowData.selectedCombination"></p-dropdown>
                        <!-- (onChange)="OnChangePattern($event,rowData)"></p-dropdown> -->
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <p-footer>
            <wn-minmax [disabled]="!combinations[i].selected" [min]="defaultMin" [max]="defaultMax" [alignVertical]="true"
            [selectedMin]="col.min" [selectedMax]="col.max"
              (minChanges)="minChanges($event, combinations[i])" (maxChanges)="maxChanges($event, combinations[i])"
              (isDirty)="setDirty()"></wn-minmax>
          </p-footer>
        </p-panel>
      </div>
    </div>
  </div>
</div>