.wn-combinations-values .ui-dropdown .ui-dropdown-label{
    padding-top: unset;
    padding-bottom: unset;
}
.wn-combinations-values .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, 
.wn-combinations-values .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight,
.wn-combinations-values .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
    padding: unset;
    width: 60px;
    text-align: center;
}
.wn-combinations-values .ui-dropdown {
    font-size: unset;
    width: 60px !important;
    min-width: unset;
}
.wn-combinations-values .ui-dropdown-items-wrapper .ui-dropdown-open {
    width: 60px;
}
.wn-combinations-values .pi {
    font-size: unset;
}
.wn-combinations-values .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon{
    margin-left: -0.2em;
}
app-combination-pattern .ui-table .ui-table-tbody > tr > td {
    padding: unset;
    border: unset;
}
/* app-combination-pattern .ui-button.ui-state-default.ui-button-danger, 
app-combination-pattern .ui-buttonset.ui-button-danger > .ui-button.ui-state-default {
    height: 16px;
    width: 17px;
    vertical-align: middle;
    font-size: small;
} */
app-combination-pattern .ui-chkbox .ui-chkbox-box .ui-chkbox-icon {
    font-size: 13px;
}
app-combination-pattern .ui-chkbox .ui-chkbox-box,  
app-combination-pattern .ui-chkbox,
app-combination-pattern .ui-button.ui-state-default.ui-button-danger, 
app-combination-pattern .ui-buttonset.ui-button-danger > .ui-button.ui-state-default {
    height: 15px;
    width: 16px;
    vertical-align: middle;
    transform: translateY(-1px);
}
app-combination-pattern .pi {
    font-size: 1em;
}
app-combination-pattern .ui-button.ui-button-text-only .ui-button-text, 
app-combination-pattern .ui-button-text-only .ui-button-text {
    padding: unset;
}
app-combination-pattern .ui-button {
    margin-right: auto;
    margin-bottom: 0.1em;
}
app-combination-pattern .ui-panel .ui-panel-titlebar {
    border: unset;
    padding: unset;
    background-color: #c8c8c8;
}
app-combination-pattern .ui-panel .ui-panel-footer {
    padding: unset;
    text-align: unset;
    background-color: #eaeaea;
}