<div class="p-grid p-nogutter" *ngIf="!alignVertical">
  <div class="p-col-6">
    <div class="p-grid p-nogutter">
      <div class="p-col-3">
        <span [ngStyle]="labelStyle"><label>מ-</label></span>
      </div>
      <div class="p-col-9">
        <p-dropdown [disabled]="disabled" class="wn-minmax-values" [options]="minValues"
          [(ngModel)]="selectedMinValue" optionLabel="label" [showClear]="false" scrollHeight="1000px"
          (onChange)="OnChangeMinValue($event)" [style]="{'width':'50px'}" [panelStyle]="{'width':'50px'}"></p-dropdown>
        <!--[autoZIndex]="false" [baseZIndex]="2000000"-->
      </div>
    </div>
  </div>
  <div class="p-col-6">
    <div class="p-grid p-nogutter">
      <div class="p-col-4">
        <span [ngStyle]="labelStyle"><label>עד-</label></span>
      </div>
      <p-dropdown [disabled]="disabled" class="p-col-8 wn-minmax-values" [options]="maxValues"
        [(ngModel)]="selectedMaxValue" optionLabel="label" [showClear]="false" scrollHeight="1000px"
        (onChange)="OnChangeMaxValue($event)"></p-dropdown>
      <!--[autoZIndex]="false" [baseZIndex]="2000000"-->
    </div>
  </div>
</div>
<div class="p-grid p-nogutter p-dir-col" *ngIf="alignVertical">
  <div class="p-col-12">
    <div class="p-grid p-nogutter">
      <div class="p-col-4">
        <label>מ-&nbsp;</label>
      </div>
      <p-dropdown [disabled]="disabled" class="p-col-8 wn-minmax-values" [options]="minValues"
        [(ngModel)]="selectedMinValue" optionLabel="label" [showClear]="false" scrollHeight="1000px"
        (onChange)="OnChangeMinValue($event)"></p-dropdown>
    </div>
  </div>
  <div class="p-col-12">
    <div class="p-grid p-nogutter">
      <div class="p-col-4">
        <label>עד-</label>
      </div>
      <p-dropdown [disabled]="disabled" class="p-col-8 wn-minmax-values" [options]="maxValues"
        [(ngModel)]="selectedMaxValue" optionLabel="label" [showClear]="false" scrollHeight="1000px"
        (onChange)="OnChangeMaxValue($event)"></p-dropdown>
      <!--[autoZIndex]="false" [baseZIndex]="100000"-->
    </div>
  </div>
</div>