.wn-minmax-values .ui-dropdown .ui-dropdown-label{
    padding-top: unset;
    padding-bottom: unset;
}
.wn-minmax-values .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item.ui-state-highlight, 
.wn-minmax-values .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group.ui-state-highlight,
.wn-minmax-values .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item {
    padding: unset;
    width: 50px;
    text-align: center;
}
.wn-minmax-values  .ui-dropdown {
    font-size: unset;
    width: 50px !important;
    min-width: unset;
}
 .wn-minmax-values .ui-dropdown-items-wrapper .ui-dropdown-open {
    width: 50px;
}
.wn-minmax-values .pi {
    font-size: unset;
}
.wn-minmax-values .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon{
margin-left: -0.2em;
}
/*new*/
.wn-minmax-values .ui-dropdown .ui-dropdown-panel{
    min-width: unset;
    width: 50px;
    top:unset !important;
    left: unset !important;
}
.wn-minmax-values .ui-inputwrapper-filled .ng-untouched .ng-pristine .ng-valid{
    width: 50px;
}
/*
ui-dropdown	Container element.
ui-dropdown-clearable	Container element when showClear is on.
ui-dropdown-label	Element to display label of selected option.
ui-dropdown-trigger	Icon element.
ui-dropdown-panel	Icon element.
ui-dropdown-items-wrapper	Wrapper element of items list.
ui-dropdown-items	List element of items.
ui-dropdown-item	An item in the list.
ui-dropdown-filter-container	Container of filter input.
ui-dropdown-filter	Filter element.
ui-dropdown-open Container element when overlay is visible.
*/