<p-table [columns]="cols" [value]="files">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th>שם</th>
            <th style="width:12em">נכון לתאריך</th>
            <th style="width:4em"></th>
            <th style="width:4em" *ngIf="isAdmin"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData>
        <tr>
            <td dir="ltr" style="text-align: right;">
                {{rowData.filename}}
            </td>
            <td>
                {{rowData.lastUpdate | date:'HH:mm:ss dd/MM/y'}}
            </td>
            <td> 
                <a [href]="rowData.downloadUrl" download target="_self">
                    <i style="font-size: 2em; vertical-align: -webkit-baseline-middle;" class="pi pi-download"></i>
                </a>
            </td>
            <td *ngIf="isAdmin">
                <button pButton icon="pi pi-trash" (click)="deleteFile(rowData.id)"></button>
            </td>
        </tr>
    </ng-template>
</p-table>