.sport-image{
  width: 30px;
  height: 26px;
}
.sport-title{
  font-size: 10px;
  color: white;
}
.custom-input {
  border-radius: 5px;
  border: 0px;
  padding: 4px 12px;
  height: 27px;
  width: 130px;
  margin-left: 2px;  
  margin-right: 2px;  
}

.custom-input:focus {
  outline: none;
  border: 0px;
}
.choose-date-arrow {
  border-radius: 5px;  
  /* border: 1px #0c8af8 solid; */
  padding: 4px 6px;
  cursor: 'pointer';
}
.sport-menu {
  height: 47px;
}
.sport-menu-item
{
  height: 2px;
}
.sport-active-menu-item {
  background-color: #ffc107;
}
.data-title{
  font-size: 16px;
  color: white;
}
.data-menu {
  height: 30px;
}
.data-menu-item
{
  height: 4px;
}
.data-active-menu-item {
  background-color: #ffc107 !important;
}
.calendar-container-tbl {
  width: 100%;
}
.data-td-buttons{
  font-size: 70%;
  width: 55px;
}
.active-data-button {
  border: 1px solid #ffc107;
  /* background-color: #474242; */
  /* color:  #ffc107 !important; */
      /* border-left: 3px solid #ffc107;
    background-color: #474242;
    color:  #ffc107 !important; */
}