conditions-table  .wn-opt-condition-objname {
    text-align: left;
    font-weight: bold;
}
conditions-table  .ui-spinner .ui-spinner-button {
    display: none;
}
conditions-table .ui-spinner .ui-spinner-input {
    text-align: center;
    padding: unset;
}
conditions-table .ui-state-disabled, 
conditions-table .ui-widget:disabled{
    opacity: unset
}
conditions-table .ui-table .ui-table-tbody > tr > td,
conditions-table .ui-table .ui-table-thead > tr > th{
    padding: unset;
}
.wn-opt-condition-item{
    text-align: center;
}
conditions-table .changed-class{
    background-color: aqua;
}
conditions-table .wn-nopadding {
    padding: unset;
}
/* conditions-table .blink-class {
    animation-name: blinker;
    animation-duration: 5s;
    animation-timing-function: ease-in-ease-out;
    animation-iteration-count: 3;

    -webkit-animation-name: blinker;
    -webkit-animation-duration: 5s;
    -webkit-animation-timing-function: ease-in-ease-out;
    -webkit-animation-iteration-count: 3;
} */
conditions-table .blink-class {
    animation: blinker 2s linear;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}
/* @keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.2; }
    100% { opacity: 1.0; }
} */
