<p-table [columns]="headers" [value]="data">
  <ng-template pTemplate="header" let-columns>
      <tr>
          <th *ngFor="let col of columns; let i = index">
              <span *ngIf="i > 0" style="color:orangered"><strong>{{col.header}}</strong></span>
              <span *ngIf="i == 0"><strong>{{col.header}}</strong></span>
          </th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
          <td class="wn-opt-condition-objname">
              <span *ngIf="!rowData.key">{{rowData.objectName}}</span>
              <div class="p-grid p-no-gutter" *ngIf="rowData.key">
                <div class="p-col-6 wn-nopadding">{{rowData.key.titleShape}}</div>
                <div class="p-col-3 wn-nopadding">{{rowData.key.titleType}}</div>
                <div class="p-col-2 wn-nopadding">{{rowData.key.index}}</div>
              </div>              
          </td>
          <td class="wn-opt-condition-item">
              <p-spinner [size]="isRange? 3 : 1" [disabled]="true" [ngClass]="rowData.original.from.class" [(ngModel)]="rowData.original.from.item"></p-spinner>-
              <p-spinner [size]="isRange? 3 : 1" [disabled]="true" [ngClass]="rowData.original.to.class" [(ngModel)]="rowData.original.to.item"></p-spinner>
          </td>
          <td class="wn-opt-condition-item">
              <p-spinner [size]="isRange? 3 : 1" [disabled]="true" [ngClass]="rowData.optimized.from.class" [(ngModel)]="rowData.optimized.from.item"></p-spinner>-
              <p-spinner [size]="isRange? 3 : 1" [disabled]="true" [ngClass]="rowData.optimized.to.class" [(ngModel)]="rowData.optimized.to.item"></p-spinner>
          </td>
      </tr>
  </ng-template>
</p-table>

