.button-container {
  margin-bottom: 5px;
}
.tip-button-style{
  font-size: 70%;
  font-weight: bold;
}
.tip-button {
  border: 1px solid #ffc107;
  margin-right: 4px;
}
.tip-button-last {
  border: 1px solid #ffc107;
  /* color: #6eb84f; */
}
.tip-button-center-title {
  padding-top: 7px;
  padding-left: 2px;
  padding-right: 2px;
}
.tip-button-active {
    background-color: #ffc107 !important;
    color: white;
}
div > .disabled {
      color: gray;
    border: 1px solid;
    font-weight: unset;
}