.match-leagueName {
    font-size: 14px;
    color : #ffcd00;
    font-weight: bold;
}

/* .match-countryName {
    font-size: 11px;
    color : #ffcd00;
} */

.flag-middle {
    margin-left: 5px !important;
}
.team-iconn-fixed-size {
    width: 20px;
    height: 22px;
}
.teams-fixed-size {
    width: 200px;
}
.scores-fixed-size {
    width: 25px;
}
.status-fixed-size {
    width: 40px;
}
.odds-fixed-size {
    width: 40px;
}
.table-matches {
    font-size: .7rem !important;
}
.table-matches td {
    padding: unset !important;
}
.odds{
    background-color: grey !important;
}
.mark-odd{
    /* color: black;
    background-color: white; */
    color : #ffcd00;
    font-weight: bold;
}
.match-status {
    color:#ffcd00;
}
.team-image{
    height: 15px;
}
.team-image-away {
    padding-bottom: 5px;
}
.teams-names {
    font-size: 12px;
}
.bet-style {
    font-size: 85%;
    width: 47px;
}
.quality-5{
 /* color:#9dcc13; */
 background-color:#9dcc13;
 font-weight: bold;
}
.quality-4{
 /* color:#13bc56; */
  background-color:#13bc56;
 font-weight: bold;
}
.quality-3{
    /* color:#097534; */
 background-color: #097534;
 font-weight: bold;
}