 <h1>ברוכים הבאים לבנקרים</h1>   
 <h4>במידה וחלון הורדות לא נפתח אנא לחצו על הכפתור</h4>   
 <button pButton type="button" (click)="openSmartDownloadDialog()" label="טפסים להורדה" class="ui-button-success" style="margin-top: 1em; margin-bottom: 1em"></button>
