:host ::ng-deep .ui-table .ui-table-tbody > tr > td,
:host ::ng-deep .ui-table .ui-table-thead > tr > th  {
    padding: unset;
    text-align: center;
}
:host ::ng-deep .ui-card-body{
    padding: unset;
}
/* :host ::ng-deep .ui-dialog .ui-dialog-titlebar{
    padding: unset;
} */