<p-tabView id="shapes-subset-dv">
  <p-tabPanel header="זוגות 1X2"  tooltip="הגדר זוגות 1X2" [selected]="true">
    <app-shapes-pattern [type]="'1X2_PAIR'" [useDropBoxMinMax]="false" (isDirty)="setDirty()"></app-shapes-pattern>
  </p-tabPanel>
  <p-tabPanel header="זוגות ABC" tooltip="הגדר זוגות ABC">
      <app-shapes-pattern [type]="'ABC_PAIR'" [useDropBoxMinMax]="false" (isDirty)="setDirty()"></app-shapes-pattern>
  </p-tabPanel>
  <p-tabPanel header="שלשות 1X2" tooltip="הגדר שלשות 1X2">
      <app-shapes-pattern [type]="'1X2_TRIPLE'" [useDropBoxMinMax]="false" (isDirty)="setDirty()"></app-shapes-pattern>
  </p-tabPanel>
  <p-tabPanel header="שלשות ABC" tooltip="הגדר שלשות ABC">
      <app-shapes-pattern [type]="'ABC_TRIPLE'" [useDropBoxMinMax]="false" (isDirty)="setDirty()"></app-shapes-pattern>
  </p-tabPanel>
</p-tabView>
