<p-toolbar class="wn-top-toolbar">
  <div class="p-grid p-no-gutter">
    <div class="p-col-12">
      <table>
        <tr>
          <td>
            <span><label>מספר טורים טור אב מקור</label></span>
          </td>
          <td>
            <input type="text" size="2" pInputText [disabled]="true" [(ngModel)]="originalParentBetsCounter" />
          </td>
          <td>
            <span><label>מספר טורים טור אב אחרי אוטימיזציה</label></span>
          </td>
          <td>
            <input type="text" size="2" pInputText [disabled]="true" [(ngModel)]="optimizedParentBetsCounter" />
          </td>
        </tr>
        <tr>
          <td>
            <span><label>מספר טורים צימצום מקור</label></span>
          </td>
          <td>
            <input type="text" size="2" pInputText [disabled]="true" [(ngModel)]="originalShrinkedBetsCounter" />
          </td>
          <td>
            <span><label>מספר טורים צימצום אחרי אוטימיזציה</label></span>
          </td>
          <td>
            <input type="text" size="2" pInputText [disabled]="true" [(ngModel)]="optimizedShrinkedBetsCounter" />
          </td>
        </tr>
      </table>
    </div>
    <!-- <div class="p-col-2">
      <div class="p-grid p-no-gutter">
        <div class="p-col-12" style="padding-bottom:unset">
          <button pButton icon="pi pi-folder-open" style="float: left;" (click)="onOpen()"></button>
          <button pButton icon="pi pi-save" style="float: left;" (click)="onSave()"></button>
        </div>
        <div class="p-col-12" style="padding:unset; text-align: end">
          <label><strong style="font-size: 0.7em; color: lightslategray; vertical-align: middle; padding-right: 0.5em">{{optimizedSystemName}}</strong></label>
        </div>
        <div class="p-col-12" style="padding:unset; text-align: end; height: 0.5em;" *ngIf="optimizerData">
          <label><strong style="font-size: 0.7em; color: lightslategray; vertical-align: middle; padding-right: 0.5em">{{optimizerData.shrinkSystemName}}</strong></label>
        </div>
      </div>
    </div> -->
  </div>
</p-toolbar>