:host ::ng-deep .ui-fieldset .ui-fieldset-legend a,
:host ::ng-deep .ui-fieldset-toggleable .ui-fieldset-legend a{
    padding: 0em 0em 0em 1em;
}
:host ::ng-deep .ui-dropdown{
    min-width: unset;
}
:host ::ng-deep  .ui-table .ui-table-tbody > tr > td {
    padding-bottom: unset;
    padding-top: unset; 
    text-align: center;
}

:host ::ng-deep  .wn-bt-addrow.ui-button.ui-button-text-only .ui-button-text,
:host ::ng-deep  .wn-bt-addrow.ui-button-text-only .ui-button-text,
:host ::ng-deep  .ui-table .ui-table-thead > tr > th,
:host ::ng-deep  .ui-button.ui-button-icon-only .ui-button-text,
:host ::ng-deep  .ui-button-icon-only .ui-button-text, .ui-button-text-empty .ui-button-text {
    padding: unset;
}
:host ::ng-deep .pi{
    font-size: unset
}
/* in case of setting only specific dropdown
:host ::ng-deep .wn-bt-row-dp > .ui-dropdown .ui-dropdown-label 
*/
:host ::ng-deep .ui-dropdown .ui-dropdown-label{
    padding-top: unset;
    padding-bottom: unset;
}
:host ::ng-deep .ui-dropdown .ui-dropdown-trigger .ui-dropdown-trigger-icon{
    margin-left: -0.2em;
}
:host ::ng-deep .ui-dropdown .ui-dropdown-panel{
    min-width: unset;
    top:unset !important;
    left: unset !important;
}
:host ::ng-deep .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item, body .ui-dropdown-panel .ui-dropdown-items .ui-dropdown-item-group{
    text-align: center;
}
:host ::ng-deep .ui-button.ui-state-default.ui-button-success, body .ui-buttonset.ui-button-success > .ui-button.ui-state-default,
:host ::ng-deep .ui-button.ui-state-default.ui-button-danger, body .ui-buttonset.ui-button-danger > .ui-button.ui-state-default{
/*margin-right: unset;*/
height: 25px;
}
:host ::ng-deep app-decimal-range > form {
    height: 0px;
}
:host ::ng-deep #bt-definitions-shrink-subset-tp > .ui-tabview.ui-tabview-top .ui-tabview-nav li a, 
:host ::ng-deep #bt-definitions-shrink-subset-tp > .ui-tabview.ui-tabview-bottom .ui-tabview-nav li a, 
:host ::ng-deep #bt-definitions-shrink-subset-tp > .ui-tabview.ui-tabview-left .ui-tabview-nav li a, 
:host ::ng-deep #bt-definitions-shrink-subset-tp > .ui-tabview.ui-tabview-right .ui-tabview-nav li a {
    display: unset;
}
/* #bt-definitions-shrink-subset-tp .ui-tabview.ui-tabview-top .ui-tabview-nav li.ui-tabview-selected a, 
#bt-definitions-shrink-subset-tp .ui-tabview.ui-tabview-bottom .ui-tabview-nav li.ui-tabview-selected a, 
#bt-definitions-shrink-subset-tp .ui-tabview.ui-tabview-left .ui-tabview-nav li.ui-tabview-selected a, 
#bt-definitions-shrink-subset-tp .ui-tabview.ui-tabview-right .ui-tabview-nav li.ui-tabview-selected a{
    display: unset;
} */
