<p-fieldset legend="הגדרות" [toggleable]="true">
  <div class="p-grid">
    <div class="p-col-2">
      <p-dropdown [options]="programsType" [(ngModel)]="selectedProgramType" optionLabel="label" [showClear]="false"
        (onChange)="onChangeProgramType($event)" [style]="{'width':'100px'}">
      </p-dropdown>
    </div>
    <div class="p-col-4">
      <div class="p-grid">
        <div class="p-col-5">
          <p-calendar [(ngModel)]="rangeFrom" [minDate]="minDate" [maxDate]="maxDate" [readonlyInput]="true"
            dateFormat="dd.mm.yy" yearNavigator="true" monthNavigator="true" [yearRange]="getCalenderDateRange()"
            placeholder="בחר תאריך התחלה" (onSelect)="onSelectDateFrom($event)"></p-calendar>
        </div>
        <div class="p-col-5">
          <p-calendar [(ngModel)]="rangeTo" [minDate]="minDateRangeTo" [maxDate]="maxDate" [readonlyInput]="true"
            dateFormat="dd.mm.yy" yearNavigator="true" monthNavigator="true" [yearRange]="getCalenderDateRange()"
            placeholder="בחר תאריך סיום" (onSelect)="onSelectDateTo($event)"></p-calendar>
        </div>
      </div>
    </div>
  </div>
  <div class="p-grid">
    <div class="p-col-2">
      <p-card header="מבנה טור בסיס">
        <div class="p-grid">
          <div class="p-col-3">
            <label><strong>בנקרים</strong></label>
          </div>
          <div class="p-col-9">
            <wn-minmax [id]="'minmax_def_bt_bankers'" [min]="defaultMin" [max]="defaultMax"
              (minChanges)="bankersMinChanges($event)" (maxChanges)="bankersMaxChanges($event)">
            </wn-minmax>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-3">
            <label><strong>כפולים</strong></label>
          </div>
          <div class="p-col-9">
            <wn-minmax [id]="'minmax_def_bt_doubles'" [min]="defaultMin" [max]="defaultMax"
              (minChanges)="doublesMinChanges($event)" (maxChanges)="doublesMaxChanges($event)">
            </wn-minmax>
          </div>
        </div>
      </p-card>
    </div>
    <div class="p-col-10">
      <p-tabView>
        <p-tabPanel header="מערכת בניית טור בסיס" [selected]="true">
          <!-- <p-card header="מערכת בניית טור בסיס"> -->
          <div class="p-grid">
            <div class="p-col-8">
              <p-table [value]="gamesDefinitions" dataKey="id" editMode="row" (onRowReorder)="onRowReorder($event)">
                <ng-template pTemplate="header">
                  <tr>
                    <th style="width:8em">
                      <button pButton type="button" class="ui-button-warning wn-bt-addrow" label="&nbsp;+ בנקר&nbsp;"
                        (click)="onAddBankerRow()"></button>
                      <button pButton type="button" class="ui-button-warning wn-bt-addrow" label="&nbsp;+ כפול&nbsp;"
                        (click)="onAddDoubleRow()"></button>
                    </th>
                    <!-- <th style="width: 20px">#</th> -->
                    <th style="width: 6em">סוג</th>
                    <th style="width: 6em">יחס הכי</th>
                    <th style="width:15em">טווח יחסים</th>
                    <th style="width:9em">עבור</th>
                    <th style="width:15em">מ / עד</th>
                    <th style="width:20px"></th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-editing="editing" let-ri="rowIndex">
                  <tr [pEditableRow]="rowData" [pReorderableRow]="ri">
                    <td style="text-align:center">
                      <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-pencil"
                        class="ui-button-info" (click)="onRowEditInit(rowData)"
                        style="margin-top:1px; margin-bottom:1px"></button>
                      <button *ngIf="!editing" pButton type="button" pInitEditableRow icon="pi pi-trash"
                        class="ui-button-info" (click)="onRowDelete(rowData,ri)"></button>
                      <button *ngIf="editing" pButton type="button" pSaveEditableRow class="ui-button-success"
                        style="margin-right: .5em" [disabled]="rowData.errorFound"
                        (click)="onRowEditSave(rowData)">שמור</button>
                      <!--icon="pi pi-check"-->
                      <button *ngIf="editing" pButton type="button" pCancelEditableRow class="ui-button-danger"
                        (click)="onRowEditCancel(rowData, ri)">בטל</button>
                      <!--icon="pi pi-times"-->
                    </td>
                    <!-- <td>
                    {{rowData.id}}
                  </td> -->
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input" *ngIf="rowData.rowType == 1">
                          <p-dropdown [options]="bankerBetTypes" [(ngModel)]="rowData.betType"
                            [style]="{'width':'70px'}">
                          </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="input" *ngIf="rowData.rowType == 2">
                          <p-dropdown [options]="doubleBetTypes" [(ngModel)]="rowData.betType"
                            [style]="{'width':'70px'}">
                          </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.betType}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input" *ngIf="rowData.rowType == 1">
                          <p-dropdown [options]="bankerRateTypes" [(ngModel)]="rowData.rateType"
                            [style]="{'width':'70px'}">
                          </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="input" *ngIf="rowData.rowType == 2">
                          <p-dropdown [options]="doubleRateTypes" [(ngModel)]="rowData.rateType"
                            [style]="{'width':'70px'}">
                          </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.rateType}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <decimal-range-redux [showInlineError]="true" [allowNegativeValues]="false" [min]="rowData.rateFrom" [max]="rowData.rateTo"
                            (exposeValues)="setRowRateRange(ri, rowData, $event)"
                            (onError)="onRowRangeError(ri, rowData, $event)" required></decimal-range-redux>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.rateFrom}} - {{rowData.rateTo}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input" *ngIf="rowData.rowType == 1">
                          <p-dropdown [options]="bankerBetForTypes" [(ngModel)]="rowData.betForType"
                            [style]="{'width':'110%'}">
                          </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="input" *ngIf="rowData.rowType == 2">
                          <p-dropdown [options]="doubleBetForTypes" [(ngModel)]="rowData.betForType"
                            [style]="{'width':'110%'}">
                          </p-dropdown>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.betForType}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td>
                      <p-cellEditor>
                        <ng-template pTemplate="input">
                          <wn-minmax [id]="'minmax_def_bt_game'" [min]="rowData.defaultFrom" [max]="rowData.defaultTo"
                            [selectedMin]="rowData.from" [selectedMax]="rowData.to"
                            (minChanges)="setRowRangeFrom(ri, rowData, $event)"
                            (maxChanges)="setRowRangeTo(ri, rowData, $event)" required>
                          </wn-minmax>
                        </ng-template>
                        <ng-template pTemplate="output">
                          {{rowData.from}} - {{rowData.to}}
                        </ng-template>
                      </p-cellEditor>
                    </td>
                    <td style="padding-right: 0.1em">
                      <i class="pi pi-bars" pReorderableRowHandle></i>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
          <!-- </p-card> -->
        </p-tabPanel>
        <p-tabPanel header="צימצומים" [selected]="false">
          <p-tabView id="bt-definitions-shrink-subset-tp">
            <p-tabPanel header="בסיס" [selected]="true">
              <backtesting-shrink-basic [defaultMin]="defaultMin" [defaultMax]="defaultMax"></backtesting-shrink-basic>
            </p-tabPanel>
            <p-tabPanel header="צורות">
              <backtesting-shrink-shapes [defaultMin]="defaultMin" [defaultMax]="defaultMax"></backtesting-shrink-shapes>
            </p-tabPanel>
            <p-tabPanel header="יחסים">
              <backtesting-shrink-rates></backtesting-shrink-rates>
            </p-tabPanel>
          </p-tabView>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</p-fieldset>