<p-card header="המערכת נטענת, אנא המתן..." *ngIf="!programData">
</p-card>
<p-dataView #dv id="program-details-dv" [value]="programData.programGames" [rows]="programData.programGames.length"
    *ngIf="programData && programData.programGames && programData.programGames.length > 0">
    <p-header>
        <span [ngStyle]="isValidForCalc?'' : {'color':'red'}"><strong>{{programTitle}}</strong></span>
    </p-header>
    <ng-template let-program pTemplate="listItem">
        <div class="p-grid" style="border-bottom: 1px solid #d9d9d9; margin-right: unset; margin-top:unset">
            <div class="p-col-7" style="padding-bottom: unset;">
                <div class="p-grid">
                    <div class="p-col-4" style="padding: 0.1em 0em 0em 0em">
                        <div class="p-grid">
                            <div class="p-col-2">
                                <span>{{program.gameIndex}}.</span>
                            </div>
                            <div class="p-col-2">
                                <span>
                                    <i [ngStyle]="program.statusStyle" class="game-status pi pi-circle-on"></i>
                                </span>
                            </div>
                            <div class="p-col-8" style="padding: 0.5em 0em 0em 0em;">
                                {{program.gameTime}}
                            </div>
                        </div>
                    </div>
                    <div class="p-col-8 wn-nopadding" [pTooltip]="program.gameName" tooltipPosition="top" [ngStyle]="program.betStatus=='blue'?{'color':'blue'}:{}">
                        {{program.gameName}}</div>
                </div>
            </div>
            <div class="p-col-5" style="padding-bottom: unset">
                <div class="p-grid p-no-gutter">
                    <div class="p-col-7 wn-nopadding">
                        <p-selectButton class="wn-rate-select-button" [options]="program.bets" multiple="multiple"
                            [(ngModel)]="program.selectedRates" (onChange)="onChange($event,program)"
                            (onOptionClick)="onOptionClick($event, program)">
                        </p-selectButton>
                    </div>
                    <div class="p-col-2"
                        style="padding-left: unset; padding-right: 0.5em;padding-top: unset; color:green">
                        {{program.gameResult}}</div>
                    <div class="p-col-3" style="padding-top: 0.3em; padding-bottom: unset">
                        <input type="text" id="bet1X2StringResultId" size="1" pInputText disabled="true" placeholder="{{program.bet1X2String}}"
                            style="text-align: center; font-weight: bolder; border-color: darkgrey;" />
                    </div>
                </div>
            </div>
        </div>
    </ng-template>
</p-dataView>