body .ui-inputtext{
    padding: unset;
}
#program-list-dp .ui-dropdown{
    width: 180px !important;
}
#program-details-dv .ui-dataview .ui-dataview-content {
    padding-right : 0em;
    padding-top: unset;
    padding-left: unset;
}
#program-details-dv .game-status {
    font-size: 0.8em;
    padding-top: unset;
}
#program-details-dv .wn-rate-select-button .ui-button.ui-button-text-only .ui-button-text {
        padding-right: 0.5em;
        padding-left: 0.5em;
        font-weight: bold;
        padding-top: 0.1em;
        padding-bottom: 0.1em;
        border-style:outset;
        font-size: small;
}
.wn-ui-button-won-bet.ui-button.ui-button-text-only .ui-button-text {
    background: green;
}
.wn-ui-button-won-bet-amended.ui-button.ui-button-text-only .ui-button-text {
    background: red;
}
.wn-nopadding {
    padding: unset;
}
.wn-rate-select-button .ui-state-disabled {
    opacity: unset
}
app-games .ui-toast .ui-toast-icon {
    display: none;
}
app-games #bet1X2StringResultId.ui-state-disabled, 
app-games #bet1X2StringResultId.ui-widget:disabled {
    opacity: unset;
}
