<p-toolbar class="wn-top-toolbar">
  <div class="ui-toolbar-group-right" style="width:300px">
    <div class="p-grid p-no-gutter">
      <div class="p-col-4">
        <!--[disabled]="hasError"-->
        <p-button [label]="executionButtonLabel" id="calculate-optimizer-button" (onClick)="startStopOptimizer()"></p-button>
      </div>
      <div class="p-col-8">
        <table>
          <tr>
            <td>
              <span><label>מספר טורים רצוי</label></span>
            </td>
            <td>
              <input type="text" size="2" pInputText [disabled]="false" [(ngModel)]="targetBetsCounter" />
            </td>
          </tr>
          <tr>
            <td>
              <span><label>תוספת להרחבת תנאים</label></span>
            </td>
            <td>
              <input type="text" size="2" pInputText [disabled]="false" [(ngModel)]="targetConditionCounter" />
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="ui-toolbar-group-left">
    <div class="p-grid p-no-gutter">
      <div class="p-col-6" *ngIf="showPrepareButton()">
        <p-button id="wn-opt-prepare-btn" label="הכן טופס" (onClick)="resultsToExcel()"></p-button>
      </div>
      <div class="p-col-4" *ngIf="outputFileUrl" style="text-align: left">
        <a [href]="outputFileUrl" download target="_self">
          <i style="font-size: 2em; vertical-align: -webkit-baseline-middle;" class="pi pi-download"></i>
        </a>
      </div>
      <div class="p-col-2" *ngIf="playerFileUrl" style="text-align: left">
        <a [href]="playerFileUrl" download target="_self">
          <i style="font-size: 2em; vertical-align: -webkit-baseline-middle;" class="pi pi-caret-left"></i>
        </a>
      </div>
      <div class="p-col-6" style="font-size: 1.7em;">
        <span [ngStyle]="offlineMode? {'color': 'red'} : ''">
          <app-clock-spinner></app-clock-spinner>
        </span>
      </div>
    </div>
  </div>
</p-toolbar>