<div class="p-grid p-no-gutter">
    <div class="p-col-7">
        <div class="p-grid p-no-gutter">
            <div class="p-col-1">
                <p-checkbox [(ngModel)]="selectedRows[0]" binary="true" [disabled]="errorMessageArr[0]" (onChange)="onSelect($event,0)"></p-checkbox>
            </div>
            <div class="p-col-2">
                <label><strong>מינימום</strong></label>
            </div>
            <div class="p-col-5">
                <decimal-range-redux [showInlineError]="false" [allowNegativeValues]="true" [min]="defaultRangeMin"
                    [max]="defaultRangeMax" (onErrorMessage)="onErrorMessage($event, 0)"
                    (onErrorMessageClear)="onErrorMessageClear(0)"
                    (exposeValues)="setRates($event, 0)">
                </decimal-range-redux>
            </div>
            <div class="p-col-4">
                <p-message #msg0 severity="error" text="" [@errorState]="CheckState(msg0, 0) ? 'visible' : 'hidden'">
                </p-message>
            </div>
        </div>
        <div class="p-grid p-no-gutter">
            <div class="p-col-1">
                <p-checkbox [(ngModel)]="selectedRows[1]" binary="true" [disabled]="errorMessageArr[1]" (onChange)="onSelect($event,1)"></p-checkbox>
            </div>
            <div class="p-col-2">
                <label><strong>אמצע</strong></label>
            </div>
            <div class="p-col-5">
                <decimal-range-redux [showInlineError]="false" [allowNegativeValues]="true" [min]="defaultRangeMin"
                    [max]="defaultRangeMax" (onErrorMessage)="onErrorMessage($event, 1)"
                    (onErrorMessageClear)="onErrorMessageClear(1)"
                    (exposeValues)="setRates($event, 1)">
                </decimal-range-redux>
            </div>
            <div class="p-col-4">
                <p-message #msg1 severity="error" text="" [@errorState]="CheckState(msg1, 1) ? 'visible' : 'hidden'">
                </p-message>
            </div>
        </div>
        <div class="p-grid p-no-gutter">
            <div class="p-col-1">
                <p-checkbox [(ngModel)]="selectedRows[2]" binary="true" [disabled]="errorMessageArr[2]" (onChange)="onSelect($event,2)"></p-checkbox>
            </div>
            <div class="p-col-2">
                <label><strong>מקסימום</strong></label>
            </div>
            <div class="p-col-5">
                <decimal-range-redux [showInlineError]="false" [allowNegativeValues]="true" [min]="defaultRangeMin"
                    [max]="defaultRangeMax" (onErrorMessage)="onErrorMessage($event, 2)"
                    (onErrorMessageClear)="onErrorMessageClear(2)"
                    (exposeValues)="setRates($event, 2)">
                </decimal-range-redux>
            </div>
            <div class="p-col-4">
                <p-message #msg2 severity="error" text="" [@errorState]="CheckState(msg2, 2) ? 'visible' : 'hidden'">
                </p-message>
            </div>
        </div>
        <div class="p-grid p-no-gutter">
            <div class="p-col-1">
                <p-checkbox [(ngModel)]="selectedRows[3]" binary="true" [disabled]="errorMessageArr[3]" (onChange)="onSelect($event,3)"></p-checkbox>
            </div>
            <div class="p-col-2">
                <label><strong>בית</strong></label>
            </div>
            <div class="p-col-5">
                <decimal-range-redux [showInlineError]="false" [allowNegativeValues]="true" [min]="defaultRangeMin"
                    [max]="defaultRangeMax" (onErrorMessage)="onErrorMessage($event, 3)"
                    (onErrorMessageClear)="onErrorMessageClear(3)"
                    (exposeValues)="setRates($event, 3)">
                </decimal-range-redux>
            </div>
            <div class="p-col-4">
                <p-message #msg3 severity="error" text="" [@errorState]="CheckState(msg3, 3) ? 'visible' : 'hidden'">
                </p-message>
            </div>
        </div>
        <div class="p-grid p-no-gutter">
            <div class="p-col-1">
                <p-checkbox [(ngModel)]="selectedRows[4]" binary="true" [disabled]="errorMessageArr[4]" (onChange)="onSelect($event,4)"></p-checkbox>
            </div>
            <div class="p-col-2">
                <label><strong>תיקו</strong></label>
            </div>
            <div class="p-col-5">
                <decimal-range-redux [showInlineError]="false" [allowNegativeValues]="true" [min]="defaultRangeMin"
                    [max]="defaultRangeMax" (onErrorMessage)="onErrorMessage($event, 4)"
                    (onErrorMessageClear)="onErrorMessageClear(4)"
                    (exposeValues)="setRates($event, 4)">
                </decimal-range-redux>
            </div>
            <div class="p-col-4">
                <p-message #msg4 severity="error" text="" [@errorState]="CheckState(msg4, 4) ? 'visible' : 'hidden'">
                </p-message>
            </div>
        </div>
        <div class="p-grid p-no-gutter">
            <div class="p-col-1">
                <p-checkbox [(ngModel)]="selectedRows[5]" binary="true" [disabled]="errorMessageArr[5]" (onChange)="onSelect($event,5)"></p-checkbox>
            </div>
            <div class="p-col-2">
                <label><strong>חוץ</strong></label>
            </div>
            <div class="p-col-5">
                <decimal-range-redux [showInlineError]="false" [allowNegativeValues]="true" [min]="defaultRangeMin"
                    [max]="defaultRangeMax" (onErrorMessage)="onErrorMessage($event, 5)"
                    (onErrorMessageClear)="onErrorMessageClear(5)"
                    (exposeValues)="setRates($event, 5)">
                </decimal-range-redux>
            </div>
            <div class="p-col-4">
                <p-message #msg5 severity="error" text="" [@errorState]="CheckState(msg5, 5) ? 'visible' : 'hidden'">
                </p-message>
            </div>
        </div>
    </div>
</div>